
<%= form_for @user do |f| %>
<div class="panel panel-default">
  <div class="panel-body">
    
    <h3>Sign Up Now</h3>
    <div align="left">
      <p>
        <%= f.label "Username" %> <span style="color:red"><i>(case insensitive)</i><%=asterisk_html%></span>
      </p>
      <p>
        <%= f.text_field :username,{:class=>'form-control', :title=>"Please enter username"} %>
      </p>
      <p><%= f.label "Password" %><%=asterisk_html%></p>
      <p><%= f.password_field :password,{:class=>'form-control'} %></p>

      <p><%= f.label "Password Confirmation" %><%=asterisk_html%></p>
      <p><%= f.password_field :password_confirmation,{:class=>'form-control'} %></p>
      
    </div>
    <p><%= f.submit 'Create Account', :class=>"btn btn-primary" %></p>
  </div>
</div>
<%end%>