<span class="customize-title"><h1>Financial Broker Background Check Guide</h1></span>

<div class="about">

<p>RichRly conducts background check to make sure financial advisors registered on our websites possess valid CRD (Central Registration Deposit) number if they are investment brokers or license number if they are life/health insurance brokers. <b>However, it’s your responsibility to check if an advisor is a registered broker in a good standing with regulators or his/her clients before you entrust your money to him/her. Otherwise, there may be no way for you to recover your money later.</b></p>
<p>Note that the instruction below are divided based on whether you are doing a search for</p> 
  <ol>
    <li>Investment broker (financial representative who possesses series 3, 6, 7, or 65 license) or</li>
    <li>Insurance agent (financial representative who possesses life or health insurance license).</li>
  </ol>
  <h2>To Conduct Background Check on Investment Broker</h2>
  <p>Please refer for complete guide at SEC (U.S Securities and Exchange Commission) <%=link_to "website", "http://www.sec.gov/investor/brokers.htm"%> before you select an investment broker.</p> 
  <p>To ease your search, you can follow these steps:</p>
  <p>
  <b>Step 1:</b> Go to FINRA’s BrokerCheck <%=link_to "website", "http://brokercheck.finra.org/"%>.<br>
  <b>Step 2:</b> Type in your broker’s CRD number or the name of your broker or brokerage firm, and click “Start Search.” <br>
  <b>Step 3:</b> Locate your broker or firm in the search results, and click on his or her name.<br>
  <b>Step 4:</b> You’re done! You should now be able to view your broker’s name, CRD number, employment history, qualifications, disciplinary disclosures, etc.
  </p>

  <h2>To Conduct Background Check on Insurance Agent</h2>
<p>Please refer for complete guide before you select your insurance agent at NAIC (National Association of Insurance Commissioners) <%=link_to "website", "http://www.naic.org/documents/consumer_alert_selecting_agent.htm"%>.</p> 
  
  <p><b>Note:</b> The following instruction only applies for checking background of registered life or health insurance agents in <b>New York</b> State.</p>

  <h3>To check your insurance agent’s license information:</h3><br>
  <p>To ease your search, you can follow these steps:</p>
  <p>
    <b>Step 1:</b> Go to New York State Department of Financial Services <%=link_to "website", "https://myportal.dfs.ny.gov/nylinxext/elsearch.alis"%>. You will probably be asked to enter some numbers or letters to verify that you are a human—this simply helps prevent unauthorized access.<br>
  <b>Step 2:</b> Select LIFE AND/OR ACCIDENT/HEALTH AGENT or LIFE BROKER in Class field,  type in your broker’s license number or the name of your broker, and click “Search.”<br> 
  <b>Step 3:</b> Locate your broker or firm in the search results, and click on his or her name.<br>
  <b>Step 4:</b> You should now be able to view your broker’s name, license number, companies that the broker is appointed with and insurance products that the broker is allowed to sell.<br>
  <b>Step 5:</b> To check if there is any disciplinary action on a broker visit the following website <%=link_to "http://www.dfs.ny.gov/insurance/search_da.htm", "http://www.dfs.ny.gov/insurance/search_da.htm"%>.
  
  </p>
  
  <h3>To check Insurance Company Rating and Stability visit the following website:</h3>
  <ol>
    <li>For company rating and stability - <%=link_to "http://www.dfs.ny.gov/consumer/ratings_stability.htm","http://www.dfs.ny.gov/consumer/ratings_stability.htm"%>. </li>
    <li>For any complaint against an institution - <%=link_to "https://eapps.naic.org/cis/","https://eapps.naic.org/cis/"%>. </li>

  </ol>
</div>


