<% content_for :title do%>|Faq <%end%>
<span class="customize-title"><h1>Frequently Asked Questions</h1></span>
<div class="about">
  
  
  <div style="width:50%;float:left;padding:10px;">
    <h3>For Non-Finance Professional Member</h3>
    <br><br>
    <p><b>1. What makes RichRly different from other financial blog/forum?</b></p>
    <p>A: Financial representatives who come to RichRly has to post their personal financial story which details how they helped their customer through a financial vehicle. We believe that learning through personal stories is much more helpful than learning from general financial blogs or articles. For more information about benefit for using RichRly please refer to <%=link_to "Why RichRly?", why_richrly_path%></p>
     <p><b>2. Where do I start if I have no prior experience in financial planning?</b></p>
  <p>A: RichRly has designated simple definitions for each financial vehicle in the financial articles section. Furthermore, beginner can read financial articles to gain understanding on how these financial vehicles are utilized. These are for our members to gain a deeper understanding of various financial planning strategies. </p>
    <p><b> 3. How is RichRly going to secure reliable professionals?</b></p>
    <p>A: RichRly conducts background check on each financial advisor when they register, specifically their ID and license/CRD number. If their background does not satisfy the criteria required by RichRly, their registration would be denied. If you want to know what criteria RichRly uses to select financial representatives, see <%=link_to "here", broker_registration_criteria_path%> for the criteria. We also encourage members to conduct background check on financial advisor themselves; please follow the instruction given <%=link_to "here", broker_background_check_path%>.</p>
    <p><b> 4. I do not live in NY, can I sign up?</b></p>
  <p>A: Yes. RichRly welcomes anyone who resides in the United States to sign up on our website. </p>


  </div>
  <div style="width:50%;overflow:auto;padding:10px;">

    <h3>For Financial Advisor</h3>
    <br><br>
    <p><b>1. How is RichRly going to promote my business?</b></p>
  <p>A: RichRly will display your profile and financial story to its members, and with the profile you have created it allows users to have better understanding with your backgrounds when making selection of professionals. For more information about benefit for using RichRly please refer to <%=link_to "Why RichRly?", why_richrly_path%></p>
    <p><b>2. Do I need to pay commission to RichRly when we close a deal with clients?</b></p>
    <p>A: No. RichRly does not take commission and is not liable for any sale that is promoted through RichRly.</p> 
    <p><b>3. Can I use RichRly to reach out to potential clients?</b></p>
    <p>A: Yes. You are free to use RichRly’s private message to reach out to potential clients. However, RichRly discourages the use of personal email address posted on member’s profile since this often may be mistaken as spam message. If you’re in doubt on what you can do or can’t do, please refer to Section 8- RichRly “Dos” and “Don’ts” of <%=link_to "User Agreement", user_agreement_path%>.</p>
    <p><b>4. I do not live in NY, can I sign up?</b></p>
    <p>A: We currently do not accept broker registration from outside the state of New York. However, we aim to expand our service the entire states.</p>
  </div>

</div>
