
<%content_for :title do%>|Home<%end%>


<% content_for :banner do %>
<div class="home_background" style="overflow:auto;">
</div>
<div width="100%" align="center">
  <table width="90%">
    <tr>
      <td width="25%" style="padding-left:20px;">
        <%=render "layouts/logo"%>
      </td>
      <td width="75%">
        
          <h1><b>Get Financial Planning Ideas, Get Connected!</b></h1>
 
      </td>
    </tr>
  </table>
</div>
<%end%>
<% content_for :left do %>
<div style="width:100%;">
    <%@user=User.new%>
    <%=render 'form'%>
</div>
<%end%>

<div style="width:100%; text-align:left; padding:10px;">
  <h3><b>What Does RichRly Offer?</b></h2>
  <div style="font-size:1.5em;"> 
  There is a need for professionals who do not know how to start with their first financial plan. RichRly provides an integrated platform present financial planning information and connecting financial representatives with general public.
   
  </div>
  <table width="100%">
    <tr>
      <td width="33%" style="vertical-align:top; text-align:center;">
        <h3><b>Get Ideas</b></h2>
        <%=image_tag "home_picture3.jpg", size: "200x180"%>   
      </td>
      <td width="33%" style="vertical-align:top; text-align:center;">
        <h3><b>Get Connected</b></h2>
        <%=image_tag "home_picture9.jpg", size: "200x150"%>
      </td>
      <td width="33%" style="vertical-align:top; text-align:center;">
        <h3><b>Get Educated</b></h2>
        <%=image_tag "home_picture1.jpg", size: "150x150"%>   
      </td>
    </tr>
    <tr>
      <td style="padding:10px;">
        <div style="font-size:1.3em;">   
    You can gather ideas of financial strategy based on your financial interests and vehicles.
        </div>
      </td>
      <td style="padding:10px;">
        <div style="font-size:1.3em;">
  You can connect with financial representatives on RichRly and view their background. 
        </div>
      </td>
      <td style="padding:10px;">
        <div style="font-size:1.3em;">
        You can learn about various financial vehicles and its uses. 
        </div>
      </td>
    </tr>
  </table>  
</div>

<div style="float:right; vertical-align:top;">
  <i>Image courtesy of ratch0013 at FreeDigitalPhotos.net</i><br>
  <i>Image courtesy of bplanet at FreeDigitalPhotos.net</i><br>
  <i>Image courtesy of Ppiboon at FreeDigitalPhotos.net</i><br>
</div>
