<h1><p>You haven't set up this category.</p> <p>Do it Now!</p></h1>

<% if box ==1 %>
<p> <%= button_to 'Set Up', '#', :class=>'btn btn-primary btn-lg', :method => 'get' %></p>
<% elsif box==2 %>
<p> <%= button_to 'Set Up', new_select_bank_path, :class=>'btn btn-primary btn-lg', :method => 'get' %></p>
<% elsif box==3 %>
<p> <%= button_to 'Set Up', '#', :class=>'btn btn-primary btn-lg', :method => 'get' %></p>
<% elsif box==4 %>
<p> <%= button_to 'Set Up', '#', :class=>'btn btn-primary btn-lg', :method => 'get' %></p>
<% elsif box==5 %>
<p> <%= button_to 'Set Up', '#', :class=>'btn btn-primary btn-lg', :method => 'get' %></p>
<% elsif box==6 %>
<p> <%= button_to 'Set Up', '#', :class=>'btn btn-primary btn-lg', :method => 'get' %></p>
<%end%>
