<%require 'date'%>
<%provide :title, '|All Spendings' %>
<h1>All Spendings</h1>

<table width='80%'>
  <thead>
    <tr>
      <th>Transaction date</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spendings.each do |spending| %>
      <tr>
        <td><%= spending.transaction_date.strftime('%m/%d/%Y') %></td>
        <td><%= spending.description %></td>
        <td><%= spending.amount %></td>
        <td>
          <%= link_to 'Detail', spending %> &nbsp
          <%= link_to 'Edit', edit_spending_path(spending) %> &nbsp
          <%= link_to 'Destroy', spending, method: :delete, data: { confirm: 'Are you sure to delete this?' } %>            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spending', new_spending_path %>
