<%provide :title, '|Spending Show' %>
<h1>Transaction Detail</h1>
<div class='spending_display'>
<p>
  <% if @spending.picture_file_name%>
  <%=image_tag @spending.picture.url(:small)%>
  <% end %>
</p>
<p>
  <strong>Transaction date:</strong>
  <%= @spending.transaction_date.strftime('%m/%d/%Y') %>
</p>

<p>
  <strong>Description:</strong>
  <%= @spending.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @spending.amount %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spending.category %>
</p>

<%= link_to 'Edit', edit_spending_path(@spending) %> |
<%= link_to 'Back', spendings_path %>
</div>