<h1>Please select your goal</h1>
<%=image_tag("protection.jpg")%>
<%=image_tag("debt_management-2.jpg")%>
<%=image_tag("retirement.jpg")%>
<%=image_tag("investment.jpg")%>
<%=image_tag("education_fund.jpg")%>
<%=image_tag("budgeting.jpg")%>
<%=image_tag("tax_saving.jpg")%>