<h1>Please select your goal</h1>
<%=image_tag("protection.jpg", class:"goal_pic")%>
<%=image_tag("debt_management-2.jpg", class:"goal_pic")%>
<%=image_tag("retirement.jpg", class:"goal_pic")%>
<%=image_tag("investment.jpg", class:"goal_pic")%>
<%=image_tag("education_fund.jpg", class:"goal_pic")%>
<%=image_tag("budgeting.jpg", class:"goal_pic")%>
<%=image_tag("tax_saving.jpg", class:"goal_pic")%>