
<% content_for :title do %>|User Login<%end%>
<h1>Login to RichRly</h1>
<%=render "error"%>
<%= form_for :session, url:user_signin_path do |f|%>
	
	<table width="100%">
    <tr>
      <td width="60%">
        <table width="90%">
          <tr>
            <td width="30%"><%= f.label :name_or_email, "Username or Email"%></td>
            <td width="70%"><%= f.text_field :name_or_email, {:class=>'form-control'}%></td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td><%= f.label :password, 'Password'%></td>
            <td><%= f.password_field :password, {:class=>'form-control'}%></td>
          </tr>
          <tr class="blank_row"></tr>
        </table>
        <table width="90%">
          <tr>
            <td width="30%"><%= f.submit "Login", :class=>'btn btn-primary'%></td>
            <td width="70%"><%= f.check_box(:remember) %> &nbsp Remember login on this computer?</td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td></td>
            <td>New User? <%= link_to 'Sign Up Now!', signup_path%></td>
          </tr>
        </table>
      </td>
      <td style="vertical-align: text-top;" width="40%">
        <table>
          <tr>
            <td><b>Or sign in through one of these services:</b></td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td><%= link_to image_tag("twitter_icon.png"), "/auth/twitter"%></td>
                  <td><%= link_to image_tag("googleplus_icon.png"), "/auth/google_oauth2"%></td>
                  <td><%= link_to image_tag("fb_icon.jpg"), "/auth/facebook"%></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<% end %>

