<%content_for :title do%>|Password Reset 3<%end%>
<h2>Enter new password</h2>
 <div style="width:50%;">
   <%=render partial:"shared/error_message", locals:{object:@broker}%>
</div>
 <div style="width:30%;text-align:left;">
 
   <%=form_for @broker,  url:broker_reset_password_path(id:params[:id]), :html => { :method => :patch} do |f|%>
   <p><%=f.label "Password"%></p>
  <p><%=f.password_field :password, {title:"must contain at least 7 characters; must contain at least one number, one capital letter and lower case letter, and one special character.",:class=>'form-control'}%></p>
   <p><%=f.label "Confirmation Password"%></p>
   <p><%=f.password_field :password_confirmation, {:class=>'form-control'}%></p>
   <%=hidden_field_tag :name, "reset_password"%>
   <p><%=f.submit "Submit",class:"btn btn-default"%></p>

  <%end%>
</div>