<% content_for :title do %>|Broker Login<%end%>
<h1>Financial Rep Login</h1>
<br>
<%=render "broker/sessions/error"%>
<%= form_for :session, url:broker_signin_path do |f|%>
<table width="100%">
    <tr>
      <td width="60%" style="padding:10px;">
        <table width="95%">
          <tr>
            <td width="40%"><%= f.label :name_or_email, "Username or Email"%></td>
            <td width="60%"><%= f.text_field :name_or_email, {:class=>'form-control'}%></td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td><%= f.label :password, 'Password'%></td>
            <td><%= f.password_field :password, {:class=>'form-control'}%></td>
          </tr>
          <tr class="blank_row"></tr>
        </table>
        <table width="95%">
          <tr>
            <td width="40%" style="padding:10px;"></td>
            <td width="60%"><%= f.submit "Login", class:"btn btn-primary", style:"width:100%;"%></td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td colspan=2><%= f.check_box(:remember) %> &nbsp <span style="font-size:1.2em;">Remember login on this computer?</span></td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td colspan=2><span style="font-size:1.4em;">New User? <%= link_to 'Sign Up Now!', broker_signup_path%></span></td>
          </tr>
        </table>
      </td>
      <td style="vertical-align: text-top;" width="40%">
        <table>
          <tr>
            <td><span style="font-size:1.3em;">Or sign in through the following social media:</span></td>
          </tr>
          <tr class="blank_row"></tr>
          <tr>
            <td>
              <table>
                <tr>
                  <td style="padding:5px;">
                    <%= link_to image_tag("twitter_icon.png", size:"40x40"), twitter_path(broker:true)%>
                  </td>
                  <td style="padding:5px;"><%= link_to image_tag("googleplus_icon.png", size:"40x40"), googleplus_path(broker:true)%>
                  </td>
                  <td style="padding:5px;"><%= link_to image_tag("fb_icon.png", size:"40x40"), facebook_path(broker:true), size:"20x20"%></td>
                  <td style="padding:5px;"><%= link_to image_tag("linkedin_icon.png", size:"40x40"), linkedin_path(broker:true)%></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

<% end %>