<%content_for :title do%>|Password Reset 2<%end%>
<h2>Reset Your Password</h2>
<div style="font-size:1.3em;">
  <div class="well" style="width:60%;">
    <div style="float:left;width:75%; text-align:left;">
      <p><b><%=full_name(@broker)%>: <%=@broker.title%> at <%=@broker.company_name%></b></p>
      <p><b>A password reset link will be sent to the following email address:</b></p>
      <p><%=@broker.email%></p>
    </div>
    <div style="overflow:auto;width:100px">
      <%=full_name(@broker)%><br>
      <%=smart_image(@broker,scenario=1)%>
    </div>
  </div>
  <table>
    <tr>
      <td>
        <%=button_to "Send New Password", {action: "update", id: @broker.id, name:"send_reset_password"},method: :patch, class:"btn btn-default"  %>
      </td>
      <td width="30px;"></td>
      <td>
        <%=button_to "Not You?", {action: "password_prompt_1"},method: :get, class:"btn btn-default"  %>
      </td>
    </tr>
  </table>
</div>