 <tr>
      <td><%=builder.label :debt, "Debt #{builder.index+1}"%></td>
      <td></td>     
    </tr>
    <tr>
      <td><%=builder.label :institution_name, "Institution Name"%></td>
      <td><%=builder.text_field :institution_name, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=builder.label :description%></td>
      <td><%=builder.text_field :description, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=builder.label :amount%></td>
      <td><%=builder.text_field :amount, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=builder.label :interest_rate, "Interest Rate"%></td>
      <td><%=builder.text_field :interest_rate, :class=>"form-control"%>
    </tr>