<tbody id=<%="debt_field_#{builder.index}"%>>
  <tr class="blank_row"><td></td><td></td></tr>
  <tr>
    <td><div class="title"><%="Debt #{builder.index+1}"%></div></td>
    <td colspan="2"></td>     
  </tr>
  <tr>
    <td><%=builder.label :institution_name, "Institution Name"%></td>
    <td colspan="2"><%=builder.text_field :institution_name, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :description%></td>
    <td colspan="2"><%=builder.text_field :description, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :amount%></td>
    <td colspan="2"><%=builder.text_field :amount, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :interest_rate, "Interest Rate"%></td>
    <td colspan="2"><%=builder.text_field :interest_rate, :class=>"form-control"%>
  </tr>
  <tr>
    <td><%=builder.hidden_field :_destroy%></td>
    <% if builder.index==0%>
    <td align="right" colspan="2"></td>
    <%else%>
    <td align="right" colspan="2"><%=render partial:'remove_link', locals:{name:"remove debt"}%></td>
    <%end%>
  </tr>
</tbody>