
<tbody class="education_expense_field">
  <tr>
    <td><div class="title"><%="Child #{builder.index+1}"%></div></td>
    <td colspan="2"></td>     
  </tr>
  <tr>
    <td><%=builder.label :description, "Description"%></td>
    <td colspan="2"><%=builder.text_field :description, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :age, "Age"%></td>
    <td colspan="2"><%=builder.text_field :age, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :education_cost, "Education Cost"%></td>
    <td colspan="2"><%=builder.text_field :education_cost, :class=>"form-control"%></td>
  </tr>  
</tbody>