<tbody class="fixed_expense_field">

  <tr>
    <td><div class="title"><%="Fixed Expense #{builder.index+1}" %></div></td>
    <td colspan="2"></td>     
  </tr>
  <tr>
    <td><%=builder.label :category%></td>
    <td colspan="2"><%=builder.select :category, Order::FIXED_EXPENSE_TYPES, {prompt:"For what type of expense?"},{:class=>"form-control"}%>
    </td>
  </tr>  
  <tr>
    <td><%=builder.label :description%></td>
    <td colspan="2"><%=builder.text_field :description, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :company, "Company Name"%></td>
    <td colspan="2"><%=builder.text_field :company, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :amount%></td>     
    <td colspan="2"><%=builder.text_field :amount, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :transaction_date, "Transaction Date"%></td>
    <td colspan="2"><%=builder.text_field :transaction_date_string, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.hidden_field :_destroy%></td>
    <td align="right" colspan="2"><%=render partial:'remove_link', locals:{name:"remove fixed_expense"}%></td>
  </tr>
</tbody>