
<%=form_for @background do |f| %>
  <% if @background.errors.any? %>
    <div class="alert alert-danger error-message">
      <h2>The form contains <%= pluralize(@background.errors.count, "error") %></h2>
      <ul>
        <% @background.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>
  <table id="background_table" width='60%'>
    <tr>
      <td width='40%'><%=f.label :background%></td>
      <td width='30%'></td>
      <td width='30%'></td>
    </tr>
    <tr>
      <td><%=f.label 'Date of Birth'%></td>
      <td colspan="2"><%=f.text_field :dob_string, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=f.label 'relationship status'%></td>
      <td>Single?<%=radio_button("background", "married", true)%></td>
      <td>Married?<%=radio_button("background", "married", false)%></td>
    </tr>
    <tr>
      <td><%=f.label 'how many dependents?'%></td>
      <td colspan="2"><%=f.text_field :children, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=f.label 'State of Resident'%></td>
      <td colspan="2"><%=f.text_field :state, :class=>"form-control"%></td>
    </tr>
    <%= f.fields_for :savings do |builder|%>
    <%=render 'saving_fields', builder: builder%>
    <%end%>
    <%= render partial:'add_link', locals:{name: "Add Saving"}%>
    
    <%= f.fields_for :debts do |builder|%>
    <%=render 'debt_fields', builder: builder%>
    <%end%>
    <%= render partial:'add_link', locals:{name: "Add Debt"}%>
    <%= f.fields_for :incomes do |builder|%>
    <%=render 'income_fields', builder: builder%>
    <%end%>
    <%= render partial:'add_link', locals:{name: "Add Income"}%>
    <tbody class="expense_title">
      <tr class='blank_row'><td></td><td></td></tr>
      <tr>
        <td><%=f.label "Expenses"%></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
    <%= f.fields_for :fixed_expenses do |builder|%>
    <%= render 'fixed_expense_fields', builder: builder%>
    <%end%>
    <%= render partial:'add_link', locals:{name:"Add Fixed Expense"}%>
    
    <%= f.fields_for :optional_expenses do |builder|%>
    <%= render 'optional_expense_fields', builder: builder%>
    
    <%end%>
    <%= render partial:'add_link', locals:{name:"Add Optional Expense"}%>
    
    <tr class='blank_row'><td></td><td></td></tr>
    <tr>
      <% if @background.new_record?%>
      <td><%= f.submit "Submit" %></td>
      <%else%>
      <td><%= f.submit "Update" %></td>
      <%end%>
      <td colspan="2"></td>
    </tr>
  </table>
<%end%>