
<% if false%>
<div class="progress">
  <%n=@background.current_field.last%>
  <%per=n.to_i(10) *100/ 7 %>
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=per%>%;">
   
  <%=n%>/ 7 
  </div>
</div>
<%end%>
<%=render @background.current_instruction_field%>

<%=render "nav_link"%>

<%=form_for @background do |f| %>

  <% if @background.errors.any? %>
    <div class="alert alert-danger error-message">
      <h2>The form contains <%= pluralize(@background.errors.count, "error") %></h2>
      <ul>
        <% @background.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>
    <table id="background_table">
    <tbody id="remove"></tbody>
    <%=render @background.current_field, f:f%>

    <% if @background.new_record?%>
      <td></td>
      <td></td>
      <td><%= f.submit "Next" %></td>       
    <%else%>
      <td></td>
      <% if @background.current_field=="education_expense_8"%>
      <td><%= f.submit "Save",name:"save" %></td>
      <td><%=f.submit "Prev", name:"back_button"%><%= f.submit "Finish",name:"finish_button" %></td> 
      <% elsif @background.current_field=="background_1"%>
      <td><%= f.submit "Save",name:"save" %></td>
      <td><%= f.submit "Next"%></td> 
      <% else%>
      <td><%= f.submit "Save",name:"save" %></td>
      <td><%=f.submit "Prev", name:"back_button"%><%= f.submit "Next" %></td>  
      <%end%>
    <%end%>     
    </tr>
  </table>
<%end%>