<tbody class="income_field">

  <tr>
    <td><div class="title"><%="Income #{builder.index+1}" %></div></td>
    <td colspan="2"></td>     
  </tr>
  <tr>
    <td><%=builder.label :category%></td>
    <td colspan="2"><%=builder.select :category, Order::INCOME_TYPES, {prompt:"what type of income?"},{:class=>"form-control"}%>
    </td>
  </tr>

  <tr>
    <td><%=builder.label :description%></td>
    <td colspan="2"><%=builder.text_field :description, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.label :amount%></td>
    <td colspan="2"><%=builder.text_field :amount, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td><%=builder.hidden_field :_destroy%></td>
    <td align="right" colspan="2"><%=render partial:'remove_link', locals:{name:"remove income"}%></td>
  </tr>
</tbody>