    <tr>
      <td><%=builder.label :optional_expense, "Optional Expense #{builder.index+1}" %></td>
      <td></td>     
    </tr>
    <tr>
      <td><%=builder.label :description%></td>
      <td><%=builder.text_field :description, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=builder.label :amount%></td>
      <td><%=builder.text_field :amount, :class=>"form-control"%></td>
    </tr>
    <tr>
      <td><%=builder.label :category%></td>
      <td><%=builder.select :category, Order::EXPENSE_TYPES, {prompt:"For what type of expense?"},{:class=>"form-control"}%>
      </td>
    </tr>