<%provide :title, "|Background summary"%>
<h1>Your Plan in <%=Time.zone.today.strftime("%B, %Y")%></h1>
<p>Date of Birth: <%=@background.dob_string%></p>
<p>Relationship Status: <%=@background.married==true ? "married" : "single"%></p>
<p>Number of Dependent: <%=@background.children%></p>
<p>Total Income:<%=money(@background.total_income)%></p>
<p>Total Fixed Expense:<%=money(@background.total_fixed_expense)%></p>
<p>Total Optional Expense:<%=money(@background.total_optional_expense)%></p>
<p>Total Saving:<%=money(@background.total_saving)%></p>
<p>Total Debt:<%=money(@background.total_debt)%></p>
<p>Networth: <%=money(@background.networth)%></p>
<p>Net Spening:<%=money(@background.netspend)%></p>
<%@background.savings.each_with_index do |saving,i|%>
Saving<%=i+1%>.<br>
<p> Institution Name: <%=saving.institution_name%></p>
<p> Description: <%=saving.description%></p>
<p> Amount: <%=saving.amount%></p>
<p> Category: <%=saving.cat_name%></p>
<%end%>
<%@background.debts.each_with_index do |debt,i|%>
Debt<%=i+1%>.<br>
<p> Institution Name: <%=debt.institution_name%></p>
<p> Description: <%=debt.description%></p>
<p> Amount: <%=debt.amount%></p>
<p> Interest Rate: <%=debt.interest_rate%></p>
<%end%>
<%@background.incomes.each_with_index do |income,i|%>
Income<%=i+1%>.<br>
<p> description: <%=income.description%></p>
<p> amount: <%=income.amount%></p>
<p> category: <%=income.cat_name%></p>
<%end%>
<%@background.fixed_expenses.each_with_index do |e,i|%>
Fixed Expense<%=i+1%>.<br>
<p> Description: <%=e.description%></p>
<p> Company: <%=e.company%></p>
<p> Amount: <%=e.amount%></p>
<p> Transaction Date: <%=e.transaction_date%></p>
<p> Alarm: <%=e.alarm%></p>
<p> Category: <%=e.cat_name%></p>
<%end%>
<%@background.optional_expenses.each_with_index do |e,i|%>
Optional Expense<%=i+1%>.<br>
<p> Description: <%=e.description%></p>
<p> Amount: <%=e.amount%></p>
<p> Category: <%=e.cat_name%></p>
<%end%>
<%=link_to 'Edit', edit_background_path(@background)%>
