<%provide :title, "|Background summary"%>


<div class="panel panel-default" style="width:50%;float:left;">
   <% if @background.completed%>
  <div class="panel-heading">Your Plan in <%=Time.zone.today.strftime("%B, %Y")%></div>
   
  <table class="table">
    <tr>
      <td>Total Income/Month:</td>
      <td><%=money(@background.total_income)%></td>
    </tr>
    <tr>
      <td>Total Fixed Expense/Month:</td>
      <td><%=money(@background.total_fixed_expense)%></td>
    </tr>
    <tr>
      <td>Total Optional Expense/Month:</td>
      <td><%=money(@background.total_optional_expense)%></td>
    </tr>
    <tr>
      <td>Net Spending/Month:</td>
      <td><%=money(@background.netspend)%></td>
    </tr>
    <tr class="active">
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Total Saving:</td>
      <td><%=money(@background.total_saving)%></td>
    </tr>
    <tr>
      <td>Total Property Value:</td>
      <td><%=money(@background.total_property)%></td>
    </tr>
    <tr>
      <td>Total Debt:</td>
      <td><%=money(@background.total_debt)%></td>
    </tr>
    <tr>
      <td>Networth:</td> 
      <td><%=money(@background.networth)%></td>
    </tr>
  </table>
   <%if @background.incomes.count>0%>
  <div class="panel-heading">Incomes</div>
  <%end%>
  <table class="table">
    <%@background.incomes.each_with_index do |income,i|%>
    <tr>
      <td width="40%"> <%=income.description%></td>
      <td width="40%"> <%=income.cat_name%></td>
      <td width="20%"> <%=money(income.amount)%></td>
    </tr>
    <%end%>
  </table>
  <%if @background.fixed_expenses.count>0%>
  <div class="panel-heading">Fixed Expenses</div>
  <%end%>
  <table class="table">
    <%@background.fixed_expenses.each_with_index do |e,i|%>
    <tr>
      <td width="40%"> <%=e.description%></td>
      <td width="40%"> <%=e.cat_name%></td>
      <td width="20%"> <%=money(e.amount)%></td>
    </tr>
    <%end%>
  </table>
  <%if @background.optional_expenses.count>0%>
  <div class="panel-heading">Optional Expenses</div>
  <%end%>
  <table class="table">
    <%@background.optional_expenses.each_with_index do |e,i|%>
    <tr>
      <td width="40%"><%=e.description%></td>
      <td width="40%"><%=e.cat_name%></td>
      <td width="20%"><%=money(e.amount)%></td> 
    </tr>
    <%end%>    
  </table>
  <%if @background.savings.count>0%>
  <div class="panel-heading">Savings</div>
  <%end%>
  <table class="table">
    <%@background.savings.each_with_index do |saving,i|%>
    <tr>
      <td width="40%"><%=saving.institution_name%></td>
      <td width="40%"><%=saving.cat_name%></td>
      <td width="20%"><%=money(saving.amount)%></td>
    </tr>
    <%end%>
  </table> 
  <%if @background.propertees.count>0%>
  <div class="panel-heading">Properties</div>
  <%end%>
  <table class="table">
    <%@background.propertees.each_with_index do |property,i|%>
    <tr>
      <td width="40%"><%=property.description%></td>
      <td width="40%"><%=property.cat_name%></td>
      <td width="20%"><%=money(property.amount)%></td>
    </tr>
    <%end%>
  </table>   
  <%if @background.debts.count>0%>
  <div class="panel-heading">Debts</div>
  <%end%>
  <table class="table">
    <%@background.debts.each_with_index do |debt,i|%>
    <tr>
      <td width="80%"> <%=debt.institution_name%></td>
      <td width="20%"> <%=money(debt.amount)%></td>
    </tr>
    <%end%>
  </table>



  <%else%>
    <div class="panel-heading">Your Background Information has not been completed yet.</div>
    
  <%end%>
</div>
<div style="width:50%;float:right;">
  

</div>
<%=link_to 'Edit', edit_background_path(@background)%>
