<% provide :title, "|crop image"%>

<%= image_tag @user.picture.url(:large), :id => "cropbox" %>
<h4>Preview</h4>
<div style="width: 100px; height: 100px; overflow: hidden;">
  <%= image_tag @user.picture.url(:large), :id => "preview" %>
</div><br>
<%=form_for @user do |f|%>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]%>
<%=f.hidden_field attribute, :id => attribute %>
  <%end%>
  <%= f.submit "Crop" %>
<%end%>