
  <h4>Please select your goal</h4>
  
  <% goals=["protection", "debt management", "retirement", "investment", "education fund", "tax saving"]%>
  <% unless @user.goal.nil?%>
    <%= form_for :user, :url => user_path(@user), :html => { :method => :put} do|f|%>
    <%= hidden_field_tag "user[goal][]", nil %>
      <%for goal in goals%>
      <p>
        <b><%=smart_label(goal)%></b>
        <%result=@user.goal.include?(goal)%>
        <%=f.check_box("goal", {:multiple => true,checked:result}, goal, nil)%>
      </p>
      <%end%>
    <table width="70%">
      <tr>
        <td><%=f.submit "Submit", name:"edit_goals", :class=>"btn btn-lg"%></td>
      </tr>
    </table>
    <%end%>
  <%end%>