
<div class="panel panel-default">
  <div class="panel-body" align="left">
    <h4>Financial Goal(s)</h4>
    <%=render "users/financial_goal_add"%> 
    <% if @user.goals.count ==0%>
    <p>None.</p>
    <%end%>
    <% @user.goals.each_with_index do |goal, index|%>
    <div class="panel panel-default">
      <div class="panel-body" align="left">
        <div style="float:left;">
          <h4><%=index+1%>. <%= best_in_place goal, :description %></h4>
        </div>
        <div style="overflow:auto" align="right">
          <%=link_to "Delete",user_path(id:@user,goal_id:goal.id), remote:true%>
        </div>
        <div style="clear:both;"></div>
        <p>You have saved <%=pluralize(goal.financial_stories.count, "story")%>.</p>
        <table width="100%" style="border-collapse: collapse;">
        <% if goal.financial_stories.count >0%>
          <tr>
            <th>Story Title</th>
            <th>Summary</th>
          </tr>
          <%goal.financial_stories.order(title: :desc).each do |story|%>
          
            <tr style="border:1px ridge;">
              <td style="width:55%;padding:5px;">
                <%=link_to story.title, story%><br>
                Posted by <%=link_to full_name(story.broker), story.broker%>
              </td>
              <td style="width:40%;vertical-align:top;padding:5px;">
                <div class="financial_story_summary">
                  <%rels=FinancialGoalStoryRel.where(goal_id:goal.id, financial_story:story.id)%>
                  <%rel=rels.first%>
                  <%=best_in_place rel, :summary, type: :textarea%>
                </div>
              </td>
              <td style="width:5%;vertical-align:bottom;">
              <%=link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {controller:"financial_goal_story_rels",action:"destroy",id:rel.id},method: :delete,:remote => true, id:"financial_goal_story_remove_#{rel.id}" %>
              </td>
            </tr>
        
          <%end%>
        <%end%>
        
        </table>
       </div>
    </div>
    <%end%>
    <% if @delete_goal%>
    <script>
      delete_story_dialog = $( "#delete_goal_<%=@delete_goal.id%>" ).dialog({
                            autoOpen: true,
                            height: 200,
                            width: 400,
                            modal: true
                            });   
    </script>
    <div id= "delete_goal_<%=@delete_goal.id%>" class="delete_goal_form" align="center" title="Remove Financial Goal">
      <p>Financial Goal: <%=@delete_goal.description%></p>
      <p>Are you sure you want to delete this financial goal? All your saved associated article referneces will be deleted as well!</p>
      <%=link_to "OK", {controller:"goals",action:"destroy", id:@delete_goal.id},{method: :delete, remote:true, class:"btn btn-default"}%>
    </div>  
    <%end%>
  </div>
</div>
