  <table width="70%">
    <tr class="blank_row"></tr>
    <tr>
  			<td width="50%"><%= f.label :username %> <span style="color:red"><i>(case insensitive)</i><%=asterisk_html%></span></td>
      <td width="50%"><%= f.text_field :username,{:class=>'form-control', :title=>"Please enter username"} %></td>
    </tr>
		<tr class="blank_row"></tr>
    <% unless f.object.email_authen%>
    <tr>
      <td colspan=2>Please enter email and validate.</td>
    </tr>
    <%end%>
  	<tr>
  		<td><%= f.label :email %> <span style="color:red"><i>(case insensitive)</i></span><%=asterisk_html%></td>
  		<td><%= f.text_field :email,{:class=>'form-control'} %></td>
      <td><%= f.submit 'send validation code',name:"send_validation"%></td>
	  </tr>
    <% if f.object.email && (f.object.email_authen!=true)%>
    <tr>
      <td><%=f.label "Validation Code"%></td>
      <td><%=f.text_field :validation_code,{:class=>'form-control'}%></td>
      <td><%=f.submit "validate email", name:"validate_email"%></td>
    </tr>    
    <%else%>
    <tr>
      <td colspan=3>Email address is successfully validated.</td>
    </tr>
    <%end%>
		<tr class="blank_row"></tr>
    <tr>
      <td width="50%"><%= f.label :first_name,'First Name' %><%=asterisk_html%> </td>
      <td width="50%"><%= f.text_field :first_name,{:class=>'form-control'} %></td>
    </tr>
    <tr class="blank_row"></tr>
    <tr>
      <td><%= f.label :last_name,'Last Name' %><%=asterisk_html%> </td>
      <td><%= f.text_field :last_name,{:class=>'form-control'} %></td>
    </tr>  
    <tr class="blank_row"></tr>  
    <tr>
    	<td><%= f.label :password %></td>
    	<td><%= f.password_field :password,{:class=>'form-control'} %></td>
    </tr>
		<tr class="blank_row"></tr>
    <tr>
    	<td><%= f.label :password_confirmation %></td>
    	<td><%= f.password_field :password_confirmation,{:class=>'form-control'} %></td>
    </tr>
		<tr class="blank_row"></tr>

  </table>
<table width="70%">
  <tr>
    <td width="30%"><%=f.label "Address"%></td>
    <td width="10%"><%=f.label :street%></td>
    <td width="60%" colspan="3"><%=f.text_field :street,{:class=>'form-control'}%></td>

  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td width="30%"></td>
    <td width="10%"><%=f.label :city%></td>
    <td width="25%"><%=f.text_field :city,{:class=>'form-control'}%></td>
    <td width="10%" align="center"><%=f.label :state%></td>
    <td width="25%"><%=f.text_field :state,{:class=>'form-control'}%></td>
  </tr>
  <tr class="blank_row"></tr>
</table>
<table width="70%">
  <tr>
    <td width="50%"><%=f.label :phone_number, "Phone Number(Work)"%></td>
    <td width="10%"><%=f.text_field :phone_1,{maxlength: 3,:class=>'form-control'}%></td>
    <td width="5%" align="center">-</td>
    <td width="10%"><%=f.text_field  :phone_2,{maxlength: 3,:class=>'form-control'}%></td>
    <td width="5%" align="center">-</td>
    <td width="12%"><%=f.text_field :phone_3,{maxlength: 4,:class=>'form-control'}%></td>
    <td width="8%"></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.label :time_zone%></td>
    <td colspan=6><%=f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones%></td>
  </tr>
</table>
<table width="70%">
		<tr>
			<td></td>
      <td><%= f.submit 'Update Account', :class=>"btn btn-primary" %></td>
		</tr>
</table>