  <table width="70%">
    <tr class="blank_row"></tr>
    <tr>
      <td width="50%"><%= f.label "Username"%> <span style="color:red"><i>(case insensitive)</i><%=asterisk_html%></span></td>
      <td width="50%"><%= f.text_field :username,{:class=>'form-control', :title=>"Please enter username"} %></td>
    </tr>
		<tr class="blank_row"></tr>
    <% unless f.object.email_authen%>
    <tr>
      <td colspan=2>Please enter email and validate.</td>
    </tr>
    <%end%>
  	<tr>
  		<td><%= f.label "Email"%> <span style="color:red"><i>(case insensitive)</i></span><%=asterisk_html%></td>
  		<td><%= f.text_field :email,{:class=>'form-control'} %></td>
      <td><%= f.submit 'send validation code',name:"send_validation"%></td>
	  </tr>
    <% if f.object.email && (f.object.email_authen!=true)%>
    <tr>
      <td><%=f.label "Validation Code"%></td>
      <td><%=f.text_field :validation_code,{:class=>'form-control'}%></td>
      <td><%=f.submit "validate email", name:"validate_email"%></td>
    </tr>    
    <%elsif f.object.email && (f.object.email_authen==true)%>
    <tr>
      <td colspan=2>
        <div class="alert alert-success" role="alert">
          Email address is successfully validated.
        </div>    
      </td>
      <td></td>
    </tr>
    <%end%>
		<tr class="blank_row"></tr>
    <tr>
      <td width="50%"><%= f.label "First Name" %><%=asterisk_html%> </td>
      <td width="50%"><%= f.text_field :first_name,{:class=>'form-control'} %></td>
    </tr>
    <tr class="blank_row"></tr>
    <tr>
      <td><%= f.label 'Last Name' %><%=asterisk_html%> </td>
      <td><%= f.text_field :last_name,{:class=>'form-control'} %></td>
    </tr>  
    <tr class="blank_row"></tr>  
    <% if f.object.password_digest%>
    <tr>
      <td colspan=2>
        <div class="alert alert-success" role="alert">Your password has been created already. You can access your account with your password now.
        </div>
          </td>
    </tr>
    <%end%>
    <tr>
      <td><%= f.label "Password" %></td>
    	<td><%= f.password_field :password,{:class=>'form-control'} %></td>
    </tr>
		<tr class="blank_row"></tr>
    <tr>
      <td><%= f.label "Password Confirmation" %></td>
    	<td><%= f.password_field :password_confirmation,{:class=>'form-control'} %></td>
    </tr>
		<tr class="blank_row"></tr>

  </table>
<table width="70%">
		<tr>
			<td></td>
      <td><%= f.submit 'Update Account', :class=>"btn btn-primary" %></td>
		</tr>
</table>