<%= form_for @user, :html => { :multipart => true }  do |f| %>
  <% if @user.errors.any? %>

    <div class="alert alert-danger error-message">
      <h2>The form contains <%= pluralize(@user.errors.count, "error") %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <table width="70%">
    <tr>
      <td><%= f.label 'First Name' %><%=asterisk_html%> </td>
      <td><%= f.text_field :first_name,{:class=>'form-control'} %></td>
	  </tr>
    <tr class="blank_row"></tr>
  	<tr>
      <td><%= f.label 'Last Name' %><%=asterisk_html%> </td>
      <td><%= f.text_field :last_name,{:class=>'form-control'} %></td>
	  </tr>  
    <tr class="blank_row"></tr>  
    <tr>
  			<td width="50%"><%= f.label :username %> <span style="color:red"><i>(case insensitive)</i><%=asterisk_html%></span></td>
      <td width="50%"><%= f.text_field :username,{:class=>'form-control', :title=>"Please enter username"} %></td>
    </tr>
		<tr class="blank_row"></tr>
  	<tr>
  		<td><%= f.label :email %> <span style="color:red"><i>(case insensitive)</i></span><%=asterisk_html%></td>
  		<td><%= f.text_field :email,{:class=>'form-control'} %></td>
	  </tr>
		<tr class="blank_row"></tr>
    <tr>
    	<td><%= f.label :password %><%=asterisk_html%></td>
    	<td><%= f.password_field :password,{:class=>'form-control'} %></td>
    </tr>
		<tr class="blank_row"></tr>
    <tr>
    	<td><%= f.label :password_confirmation %><%=asterisk_html%></td>
    	<td><%= f.password_field :password_confirmation,{:class=>'form-control'} %></td>
    </tr>
		<tr class="blank_row"></tr>
		<tr>
			<td></td>
      <% if @user.new_record?%>
			<td><%= f.submit 'Create Account', :class=>"btn btn-primary" %></td>
      <% else %>
      <td><%= f.submit 'Update Account', :class=>"btn btn-primary" %></td>
      <%end%>
		</tr>
  </table>
<% end %>