<% if !@user.image_url.to_s.empty?%> 
  <%= content_tag "div", id: "picture_form", data: {picture_file_name: @user.image_url.to_s,user_pic_large_width:@user.image.get_geometry[0],user_pic_large_height:@user.image.get_geometry[1],crop:@crop}, style:"float:left; width:40%;",align:"left" do %>
  <%=render "users/picture_form"%>

  <% end %>
<%else%>
  <div id="picture_form" style="float:left; width:40%;" align="left">
    <%=render "users/picture_form"%>  
  </div>
<%end%>


  <%=render "error_small"%>
  <%=render "collapse_link1"%>  
</div>
<div align="left" style="overflow: auto;">

  <%=render "profile_info"%>

</div>
