
<%if @edit=="profile_info"%>
<h1><%=full_name(@user)%>
  <%=link_to user_path(id:@user),id: "profile_info_edit", remote:true do%>
  <span class="glyphicon glyphicon-edit"></span>
  <%end%>
</h1>
  <%=form_for @user, remote:true do |f|%>
  <table width="100%">
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>Occupation:</b></span></td>
      <td width="50%"><%=f.text_field :occupation, {style:"width:100%;"}%></td>
    </tr>
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>State of Resident:</b></span></td>
      <td width="50%"><%=f.select(:state, options_for_select(Order::US_STATES),{prompt:"Select Your Age Range"}, {style:"width:100%;"})%></td>
    </tr>
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>Age Range:</b></span></td>
      <td width="50%"><%=f.select(:age_level, options_for_select(Order::AGE_LEVELS),{prompt:"Select Your Age Range"},{style:"width:100%;"})%></td>
    </tr>
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>How satisfied am I with my finance?:</b></span></td>
      <td width="50%" style="vertical-align:top;"><%=f.select(:satisfaction, options_for_select(Order::SATISFACTION_LEVELS),{prompt:"Select Your Satisfaction Level"},{style:"width:100%;"})%></td>
    </tr>

    <tr>
      <td><%=f.submit "Edit", {class: "btn btn-default"}%></td>
      <td></td>
    </tr>
  </table>
  <%end%>

<%else%>
  <h1><%=full_name(@user)%>
      <%=link_to user_path(id:@user,edit:"profile_info"), id: "profile_info_edit", remote:true do%>
      <span class="glyphicon glyphicon-edit"></span>
      <%end%>
  </h1> 
  <table width="100%">
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>Occupation:</b></span></td>
      <td width="50%"><%=@user.occupation%></td>
    </tr>
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>State of Resident:</b></span></td>
      <td width="50%"><%=Order::US_STATES.to_h.key(@user.state)%></td>
    </tr>
    <tr>
      <td width="30%"><span style="font-size:1.1em;"><b>Age Range:</b></span></td>
      <td width="50%"><%=smart_label(@user.age_level)%></td>
    </tr>
    <tr>
      <td><span style="font-size:1.1em;"><b>How satisfied am I with my finance?:</b></span></td>
      <td style="vertical-align:top;"><%=@user.satisfaction%></td>
    </tr>
  </table>
<%end%>