
<%= form_for :session, url:signin_path do |f|%>
	
	<table width="70%">
		<tr>
      <td width="20%"><%= f.label :username%></td>
			<td width="65%"><%= f.text_field :username, {:class=>'form-control'}%></td>
      <td width="15%"></td>
		</tr>
		<tr class="blank_row"></tr>
		<tr>
			<td><%= f.label :password, 'Password:'%></td>
      <td><%= f.password_field :password, {:class=>'form-control'}%></td>
      <td></td>
		</tr>
		<tr class="blank_row"></tr>
		<tr>
      <td><%= f.submit "Delete Profile", :class=>'btn btn-danger'%></td>
      
		</tr>

	</table>

<% end %>