<h4>Top Financial Stories</h4>
<div width="100%" align="left">
  <%financial_stories=product.financial_stories.first(5)%>
  <table>
    <%financial_stories.each do |story|%>
    <tr>
      <td width="30%">
        <span class="label label-primary" style="font-size:0.8em;">
          By:<%=full_name(story.broker)%>
        </span>
      </td>
      <td width="5%"></td>
      <td width="65%" align="right">
        
      </td>
    </tr>
    <tr>
      <td rowspan="2">
        <%=link_to story.broker do %>
        <%=smart_image(story.broker,4)%>
        <%end%>
      </td>
      <td></td>
      <td class="story_display">       
        <%=abrev_display(story.description,65)%>
      </td>
    </tr>
    <tr>
      <td></td>
      <td align="right"> <%=link_to "Read", story%></td>
    </tr>
    <%end%>
  </table>
</div>