<h4>Top Financial Stories</h4>
<div width="100%" align="left">
  <%financial_stories=product.financial_stories.first(5)%>
  <table>
    <%financial_stories.each do |story|%>
    <tr>
      <td width="30%">
        <span class="label label-primary" style="font-size:0.8em;">
          By:<%=full_name(story.broker)%>
        </span>
      </td>
      <td width="70%" align="right">
        
      </td>
    </tr>
    <tr>
      <td>
        <%=link_to story.broker do %>
        <%=smart_image(story.broker,4)%>
        <%end%>
      </td>
      <td class="story_display">       
        <%=link_to story.title, story%><br>
        Votes:<%=story.votes%>
      </td>
    </tr>

    <%end%>
  </table>
</div>