<div with=50%>
  <div style="float:left;width:110px;"><%=smart_image(@user,1)%></div>
  <div style="overflow:auto;" align="left"><h3><%=full_name(@user)%></h3></div>
</div>
<div style="clear:both;"></div>
<div align="left">
  <ul class="nav nav-pills">
    <%Order::FINANCIAL_CATEGORIES_HASH.values.each do |interest|%>
    <%if interest==@interest.titleize%>
    <li role="presentation" class="active"><%=link_to "#{interest.titleize}",user_home_url(interest:interest) %></li>
      <%else%>
    <li role="presentation"><%=link_to "#{interest.titleize}",user_home_url(interest:interest) %></li>
      <%end%>
    <%end%>
  </ul>
  <%=render partial:"home_goal", locals:{interest:@interest}%>
</div>