<script>
  function close_modal(){
    $("#life_insurance_quote").modal('hide');
  };
</script>

<div class="modal fade" id="life_insurance_quote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">My Life Insurance Info</h4>
      </div>

      <%=form_tag('/quote_relations', remote:true) do%>
      <div class="modal-body">
        <table width="70%">
          <tr>
            <td width="70%">Gender</td>
            <td><%=@background.gender%></td>
          </tr>
          <tr>
            <td width="70%">Age</td>
            <%age=((Time.now.utc-@background.dob)/(60*60*24*365)).floor%>
            <td><%=age%></td>
          </tr>
          <tr>
            <td width="70%">Number of Dependent</td>
            <td><%=@background.children%></td>
          </tr>
      </table>
    <div class="alert alert-success" role="alert" style="border:1px solid;">
      <table width="70%">
          <tr>
            <td width="70%">Debt</td>
            <td><%=money(@background.other_debt)%></td>
          </tr>
          <tr>
            <td>Income</td>
            <td><%=money(@background.income_need)%></td>
          </tr>
          <tr>
            <td>Mortgage</td>
            <td><%=money(@background.total_mortgage)%></td>
          </tr>
          <tr>
            <td>Education</td>
            <td><%=money(@background.total_education)%></td>
          </tr>
          <tr>
            <td>Recommended Protection Need</td>
            <td style="border-top: solid 2px;"><%=money(@background.total_protection_need)%></td>
          </tr>
        </table>
    </div>
        <table width="70%">
          <tr>
            <td width="65%">Customized Amount</td>
            <td width="5%">$</td>
            <td width="30%"> 
              <div class="input-group">
                <%=text_field_tag :life_insurance_need,@background.total_protection_need, class: "form-control"%>
              </div>
             </td>
          </tr>
          <tr>
            <td><%=hidden_field_tag :user_id, @user.id%></td>
            <td><%=hidden_field_tag :background_id, @background.id%></td>
            <td><%=hidden_field_tag :broker_id%></td><!-->broker_id will be supplied through javascript</-->
            <td><%=hidden_field_tag :broker_search_id, @broker_search.id%></td>
            <td><%=hidden_field_tag :quote_request,"yes"%></td>
          </tr>
        </table>
       
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%=button_tag "Submit Quote", class:"btn btn-default",onclick:"return close_modal();"%>

      </div>
      <%end%>
    </div>
  </div>
</div>