<%interest=interest.downcase %>
<h3><%=interest.titleize%></h3>
<table>
  <tr>
    <td width="40%">
      <%if interest=="protection"%>
      <%=image_tag("protection.jpg", class:"goal_pic")%>
      <%elsif interest=="debt management"%>
      <%=image_tag("debt_management-2.jpg", class:"goal_pic")%>
      <%elsif interest=="retirement"%>
      <%=image_tag("retirement.jpg", class:"goal_pic")%>
      <%elsif interest=="investment"%>
      <%=image_tag("investment.jpg", class:"goal_pic")%>
      <%elsif interest=="education fund"%>
      <%=image_tag("education_fund.jpg", class:"goal_pic")%>
      <%elsif interest=="estate planning"%>
      <%=image_tag("estate_planning.jpg", class:"goal_pic")%>
      <%elsif interest=="tax saving"%>
      <%=image_tag("tax_saving.jpg", class:"goal_pic")%>
      <%end%>
    </td>
    <td width="60%">
      <%if interest=="protection"%>
      <div style="float:left;">
        Protection is important if you have family members who depends on your income. In case you are unavilable to provide earning to your family due to illness or accident, protection plan helps to offset the loss income to pay for your monthly expenses.
      </div>
      <%elsif interest=="debt management"%>
      <div style="float:left;">
        Debt Management is important if you have family members who depends on your income.
      </div>
      <%elsif interest=="retirement"%>
      <div style="float:left;">
        Retirement Plan is divided into Employer-Sponsored Plans or Individual Plans. Retirement Plan provides a way for individual to save money and let it grow tax-deferred.
      </div>
      <%elsif interest=="investment"%>
      <div style="float:left;">
        Investment involves any method for individuals or businesses to grow their money through interest. Investment vehicles can have high interest rate but interest earned through investment is taxed as income.
      </div>
      <%elsif interest=="education fund"%>
      <div style="float:left;">
        Education Plan has tax-deferral feature similar to retirement plan and provides a way for you to save your earning which will later be used for your children's education.
      </div>
      <%elsif interest=="estate planning"%>
      <div style="float:left;">
        For large estate above a certain amount, estate tax can become significant. There are some vehicles that can be used to pass on estate to avoid estate tax.
      </div>
      <%elsif interest=="tax reduction"%>
      <div style="float:left;">
        Tax Saving is important if you have family members who depends on your income.
      </div>
      <%end%>

      <p>Below are the various types of vehicle in this category:</p>
      <ol>
        <%products.each do |product|%>     
        <li><%=content_tag(:a,product.name,href:"##{product.name}")%></li>
        <%end%>
      </ol>        
    </td>
  </tr>
</table>
    