<div class="panel panel-default" id=<%="education_display_#{e.id}"%>>
  <div class="panel-body" align="left">
    <table width="100%" style="text-align:left;">
      <tr>
        <td width="30%">School:</td>
        <td width="70%"><%=e.school%>
          <div style="float:right;">
            <%if mode=="personal"%>
            <a href="#" class="education_edit" id=<%=e.id%>>
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <%end%>
          </div>
        </td>
      </tr>
      <%unless e.degree.blank?%>
      <tr>
        <td>Degree:</td>
        <td><%=e.degree%></td>
      </tr>
      <%end%>
      <% if e.begin_date && e.end_date%>
      <tr>
        <td>Attendance:</td>
        <td><%=e.begin_date.strftime("%b, %Y")%>
          to <%=e.end_date.strftime('%b, %Y')%>
          <%=display_time_difference(e.begin_date,e.end_date)%>
        </td>
      </tr>
      <%end%>
      <%unless e.honors.blank?%>
      <tr>
        <td>Honors:</td>
        <td><%=e.honors%></td>
      </tr>
      <%end%>
      <%unless e.description.blank?%>
      <tr>
        <td>Description:</td>
        <td><%=e.description%></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>