<div align="left" style="width:90%;">
  <p align="left">You have <%=pluralize(@messages.count,"message")%></p>
</div>
<ul class="list-group" style="width:90%;">
  <%@messages.each do |message|%>
  <li class="list-group-item">
    <%=link_to message, class:"list-group-item", style:"border:none !important;" do%>
    <div style="float:left;width:30%; text-align:left;">
      <% if message.sent_or_received =="sent"%>
      To: <%=message.receiver_name%>
      <%else%>
      From: <%=message.sender_name%>
      <%end%>       
    </div>
    <div style="float:right;width:20%;text-align:right;">
      <% if message.created_at.to_date == Date.current%>
      <%=message.created_at.strftime("%l:%M %P")%>
      <%else%>
      <%=message.created_at.strftime("%b %d,%Y")%>
      <%end%>
    </div>
    <div style="float:none; width:50%;text-align:left;" class="ellipsis">
      <b><%=message.subject%></b>-<%=abrev_display(message.content,50)%>
    </div>
    <div style="clear:both;"></div>
    <%end%>
  </li>
  <%end%>
</ul>
