<%provide :title, "|Broker Status Login"%>
<h3>Status Lookup</h3>
<p>Please enter your information to check up on your status</p>
<%= form_for :status_session, url: status_sessions_url do |f|%>
<table width="70%">
  <tr>
     <td width="30%"><%= f.label :email%></td>
     <td width="70%"><%= f.text_field :email, {:class=>'form-control'}%>  </td>
	</tr>
  <tr class="blank_row"></tr>
   <tr>
     <td width="30%"><%= f.label :password%></td>
     <td width="70%"><%= f.password_field :password, {:class=>'form-control'}%>  </td>
	</tr>  
  <tr class="blank_row"></tr>
  <tr>
    <td></td>
    <td align="right"><%=f.submit "Check Status", :class=>'btn btn-primary'%></td>
  </tr>
  
</table>
<%end%>