<%=link_to "Back to index", companies_path%>
<h4><%=@company.name%></h4>
<table width="70%">
  <tr>
    <td>Location</td>
    <td><%=@company.location%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Description</td>
    <td><%=@company.description%></td>
  </tr>
  <tr>
    <td><%=button_to "Edit", edit_company_path(@company),{method: :get}%></td>
    <td><%= button_to 'Delete',{action: :destroy,id: @company.id},method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
</table>