<h1> Accounts at <%=@bank%></h1>
<% @accountTypes.zip(@itemAccountIds, @accountNums).each do |a|%>  
    <%= form_tag '/get_transactions' do%>
     <div class="acct_buttons_container">
       <% button_display=a[0]+" ("+"x"*5+a[2]+")"%>
       <%=submit_tag button_display, :class=>'btn btn-primary btn-lg acct_button'%>
     <%= hidden_field_tag 'item_account_id', a[1]%> 
     <%= hidden_field_tag 'account_id', @account.id%>  
     </div>
   <%end%>

<%end%>

