<h1><%=@bank.content_service_display_name%></h1> 
<h1>Bank Login</h1>
<%=form_tag(action:'create',id: 'bank_login') do%>
<%=@input_form.html_safe%><br>
<div id="bank_login_button"><%=submit_tag "Login"%></div>

<%= hidden_field_tag 'content_service_id', params[:content_service_id]%> 
<%end%>