<h1><%=@bank.content_service_display_name%></h1> 
<h1>Bank Login</h1>

<%=form_tag('/next_page2', method: "get") do%>
  <%=@input_form.html_safe%>
  <%=submit_tag "Login"%>
<%= hidden_field_tag 'content_service_id', params[:content_service_id]%> 
<%end%>