
<%= form_for @broker,:url => url_for(:controller => 'register/brokers', :action => 'update'), remote:true do |f|%>

  <table width="70%">
    <tr>
      <td width="40%">
        <% if @firm%>
        <%=f.select :firm_id, options_for_select(Firm.return_dropdown_lists,selected: @firm.id),{},{class:"select"}%>
        <%else%>
        <%=f.select :firm_id, Firm.return_dropdown_lists, {prompt:"Select Product"},{class:"select"}%>
        <%end%>

      </td>
      <td width="40%">
        <% if @firm && Product.return_dropdown_lists(@firm.id).count>0%>
        <%=select_tag "product_id", options_for_select( Product.return_dropdown_lists(@firm.id)), {prompt:"Select Product"}%>
        <%end%>
      </td>
      <td width="20%">
        <%= button_tag( :class => "btn btn-success",:name=>"add_appointment") do %>
          <i class="glyphicon glyphicon-plus"></i>Add
        <% end %>   
      </td>
    </tr>
    <tr class="blank_row"></tr>
  </table>

<%end%>  
