<%provide :title, "|Register Page 2"%>
<%= form_for @broker,:url => url_for(:controller => 'register/brokers',:action=> 'update') do |f|%>
  <table width="70%">  

     <%= f.fields_for :licenses, :html => { :multipart => true } do |builder|%>  
      <tr>
        <td width="30%"><%= builder.label Order::LICENSE_TYPES[builder.object.license_type.to_i-1][0]%></td>
        <td><%= builder.hidden_field :license_type, value:builder.object.license_type%></td>
      </tr>
      <tr>
        <td><%=builder.label :license_number%></td>
        <td><%=builder.text_field :license_number,:class=>"form-control"%></td>
      </tr>
      <tr>
        <td style="vertical-align: text-top;"><%=builder.label :states, "License State(s)"%></td>
        <td>

          <% Order::US_STATES.each do |state|%>  
          <% if builder.object.states%>
            <%result=builder.object.states.include?(state[1])%>
          <%else%>
            <%result=false%>
          <%end%>
          <%=builder.check_box("states", {:multiple => true,checked:result},state[1],nil)%><%=builder.label state[1]%>
          <%end%>
        </td>
      </tr>
      <tr>
        <td><%=builder.label :picture, "Upload License PDF"%></td>
        <td><%=builder.file_field :picture, :class=>"form-control"%></td>
      </tr>
      <tr class="blank_row">
        <td></td>
        <td><b>Uploaded File:</b><%=builder.object.picture_file_name%></td>
      <tr>
    <%end%>
    <tr>
      <td><%=f.submit "Prev", name:"prev", :class=>"btn btn-primary"%></td>
      <td><%=f.submit "Next",name:"next",:class=>"btn btn-primary"%></td>
    </tr>
  </table>
<%end%>
