<h1>Import Broker</h1>

<ul>
  <li>first_name</li>
  <li>last_name</li>
  <li>institution_name</li>
  <li>street</li>
  <li>city</li>
  <li>state</li>
  <li>phone_number_work</li>
  <li>phone_number_cell</li>
  <li>email</li>
  <li>web</li>
</ul>

<%= form_for @broker_import do |f|%>
  <% if @broker_import.errors.any?%>
		<div id="error_explanation">
      <h2><%=pluralize(@broker_import.errors.count, "error")%> prohibited this import from completing:</h2>
			<ul>
        <%@broker_import.errors.full_messages.each do |msg|%>
				<li><%=msg%></li>
		 		<%end%>
			</ul>
		</div>
	<%end%>
	<div class="field">
		<%=f.file_field :file%>
	</div>
	<div><%=f.submit "Import"%></div>
<%end%>

</div>