  <% unless @category%>
  
  <div style="width:50%;float:left;">
    <h3>Financial Vehicle Categories</h3>
      <div align="left">
          <ol>
            <%=Order::FINANCIAL_CATEGORIES.each do |vehicle|%>
            <li> <%=link_to vehicle[0],{vehicle_type:vehicle[1]} %></li>
            <%end%>
          </ol>
      </div>
  </div>
  <div style="width:50%;float:right;">
    
    <h3>Financial Vehicles</h3>
    <div align="right"><%=button_to "Add Vehicle", new_admin_product_url,{method:"get"}%></div>
    <div align="left">
      <ol>
      <%@products.each do |product|%>
        <li><%=link_to "#{product.name}",admin_product_path(product)%> </li>
      <%end%>
      </ol>
    </div>
  </div>
  <%else%>
    <% if @category=="1"%>
      <%=render "protection"%>
    <% elsif @category=="2"%>
      <%=render "debt_management"%>
    <% elsif @category=="3"%>
      <%=render "retirement"%>
    <% elsif @category=="4"%>
      <%=render "investment"%>
    <% elsif @category=="5"%>
      <%=render "education_fund"%>
    <% elsif @category=="6"%>
      <%=render "budgeting"%>
    <% elsif @category=="7"%>
      <%=render "tax_saving"%>
    <%end%>
  <%end%>
