<h1>Import Transaction</h1>

<div align="left">
<ul>
	<%Spending.columns.each do |column|%>
		<%if @import_params.include?column.name%>	
			<li><strong><%=column.name%></strong>-
				<%=column.type.to_s.titleize%> type
			</li>
		<%end%>
	<%end%>		
</ul>

<p> If an <strong>id</strong> is provided it will update the data. Otherwise, new data will be created.</p>
<p> Like entering normal <strong>transaction, description, amount, category and transaction_date(String or Date format)</strong> has to be provided in the header.</p>
<p> For detail instruction please visit <%=link_to 'here', faq_path%>.</p>
<%= form_for @transaction_import do |f|%>
	<% if @transaction_import.errors.any?%>
		<div id="error_explanation">
			<h2><%=pluralize(@transaction_import.errors.count, "error")%> prohibited this import from completing:</h2>
			<ul>
				<%@transaction_import.errors.full_messages.each do |msg|%>
				<li><%=msg%></li>
		 		<%end%>
			</ul>
		</div>
	<%end%>
	<div class="field">
		<%=f.file_field :file%>
	</div>
	<div><%=f.submit "Import"%></div>
<%end%>

</div>