<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script>
  
    $(function() {
      var text1="Total of your current debt which includes any loans other than your mortgage.";
      var text2="Total income is your currently yearly income multiply by how many years your income be provided (a common factor is 10 years).";
      var text3="Total amount of mortgage.";
      var text4="Total amount needed for your children's education. You can assess this amount by multiply how many children you have with an average education fund that may require be provided for each of them.";
    $( document ).tooltip({
      position: { my: "left+10 center", at: "right center" }
 
    });
  });
</script>

<h1>Protection Plan</h1>
Your Protection Need is as follows:
This is also known as the DIME Method.

<table width="100%">
  <%=form_for @protection_plan do |f|%>
  <tr>
    <td>Debt</td>
    <td>
      <%=money(@background.other_debt)%>  
    </td>
  </tr>
  <tr>
    <td>Income</td>
    <td>
      <%=money(@background.income_need)%>  
    </td>
  </tr>
  <tr>
    <td>Mortgage</td>
    <td>
      <%=money(@background.total_mortgage)%>  
    </td>
  </tr>
  <tr>
    <td>Education</td>
    <td>
      <%=money(@background.total_education)%>
    </td>
  </tr>
  <tr>
    <td>Total Need</td>
    <td style="padding-left: 10px; border-top: solid 2px;"><div style="font-weight:bold;" id="total"><%=money(@background.total_protection_need)%></div></td>
  </tr>
  <tr>
    <td><%=hidden_field_tag :protection_need, @background.total_protection_need%></td>
  </tr>
  
</table>
<div align="left">
  <%=render "question"%>
  
  <%=render "life_insurance_detail"%>
</div>
<table width="100%">
  <tr>
    <td>Know which life insurance you need?
      <%=radio_button_tag 'know_life_insurance', 'Yes'%>
    </td>
    <td>Don't know which life insurance you need?
      <%=radio_button_tag 'know_life_insurance', 'No'%>
    </td>
  </tr>
  <tr>
    <td><%=f.submit "Find a Broker", name:"life_insurance",class:"btn btn-success"%></td>
    <td></td>
  </tr>
</table>
<%end%>