<div class="panel-group" id="life_insurance">
  
  <table width="100%">
    <tr>
      <td width="95%"><h4>Different Types of Life Insurance:</h4></td>
      <td width="5%" class="check_box_container"><input class="check_box" id="check_all_life" type="checkbox"/></td>
    </tr>
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Whole Life Insurance 
            <a class="drop-down" style="float:right;" data-toggle="collapse" data-parent="#life_insurance" href="#panel1"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
          </div>
          <div class="panel-collapse collapse" id="panel1">
            Body
          </div>
        </div>
      </td>
      <td class="check_box_container">
        <%=check_box_tag "background[protection_search[]]",2,false,class:"check_box check_life"%>
      </td>
    </tr>
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Variable Life Insurance 
            <a class="drop-down" style="float:right;" data-toggle="collapse" data-parent="#life_insurance" href="#panel2"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
          </div>
          <div class="panel-collapse collapse" id="panel2">
            Body
          </div>
        </div>
      </td>
      <td class="check_box_container">
        <%=check_box_tag "background[protection_search[]]",3,false,class:"check_box check_life"%>
      </td>
    </tr> 
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Variable Universal Life Insurance
            <a class="drop-down" style="float:right;" data-toggle="collapse" data-parent="#life_insurance" href="#panel3"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
          </div>
          <div class="panel-collapse collapse" id="panel3">
            Body
          </div>
        </div>
      </td>
      <td class="check_box_container">
        <%=check_box_tag "background[protection_search[]]",4,false,class:"check_box check_life"%>
      </td>
    </tr>
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Index Universal Life Insurance
            <a class="drop-down" style="float:right;" data-toggle="collapse" data-parent="#life_insurance" href="#panel4"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
          </div>
          <div class="panel-collapse collapse" id="panel4">
            Index Universal Life has all the features of universal life but has the following unique features:
            <ol>
              <li>Gives policy holder an opportunity to put cash value either in a fixed account or equity index account</li>
              <li>Interest rate in Equity index account is based on changes of one or more popular indexes such as S&P 500, Nasdaq, ...etc.</li>
            </ol>
          </div>
        </div>
      </td>
      <td class="check_box_container">
        <%=check_box_tag "background[protection_search[]]",5,false,class:"check_box check_life"%>
      </td>
    </tr>
    <tr>
      <td>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">Term Life Insurance
            <a class="drop-down" style="float:right;" data-toggle="collapse" data-parent="#life_insurance" href="#panel5"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
          </div>
          <div class="panel-collapse collapse" id="panel5">
            Term Life has the following features:
            <ol>
              <li>Term insurance expires at an attained age or after a specific amount of time.</li>
              <li>No Cash or loan value, purely protection.</li>
              <li>Face amount is paid if insured dies during the specified term of policy.</li>
              <li>Policy becomes more expensive as you age.</li>
              <li>Age limit for issue or renewal is 70.</li>
              <li>Can be written separtely or as a rider.</li>
            </ol>
          </div>
        </div>
      </td>
      <td class="check_box_container">
        <%=check_box_tag "background[protection_search[]]",6,false,class:"check_box check_life"%>
      </td>
    </tr>
  </table>
</div>