<table>
  <%=form_for @protection_plan do |f|%>
  <tr>
    <td>Debt</td>
    <td><%=f.text_field :debt, class:"form-control"%></td>
  </tr>
  <tr>
    <td>Income</td>
    <td><%=f.text_field :income, class:"form-control"%></td>
  </tr>
  <tr>
    <td>Mortgage</td>
    <td><%=f.text_field :mortgage, class:"form-control"%></td>
  </tr>
  <tr>
    <td>Education</td>
    <td><%=f.text_field :education, class:"form-control"%></td>
  </tr>
  <tr>

    <td>Total Need</td>
    <td style="padding-left: 10px;"><strong><%=@protection_plan.total_need%></strong></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td></td>
    <td align="right"><%=f.submit "Submit", class:"btn btn-default",name:"protection_1"%></td>    
  </tr>
  <%end%>
</table>