<h1>Protection Plan</h1>
Your Protection Need is as follows:
This is also known as the DIME Method.

<table>
  <%=form_for @background do |f|%>
  <tr>
    <td>Debt</td>
    <td>
      <div class="input-group">
      <span class="input-group-addon">$</span>
        <%=f.text_field :other_debt, :value => number_with_precision(f.object.other_debt, :precision => 2), class:"form-control protection_need"%>
      </div>    
    </td>
  </tr>
  <tr>
    <td>Income</td>
    <td>
      <div class="input-group">
      <span class="input-group-addon">$</span>
        <%=f.text_field :income_need, :value => number_with_precision(f.object.income_need, :precision => 2), class:"form-control protection_need"%>
      </div>    
    </td>
  </tr>
  <tr>
    <td>Mortgage</td>
    <td>
      <div class="input-group">
      <span class="input-group-addon">$</span>
        <%=f.text_field :total_mortgage, :value => number_with_precision(f.object.total_mortgage, :precision => 2), class:"form-control protection_need"%>
      </div>    
    </td>
  </tr>
  <tr>
    <td>Education</td>
    <td>
      <div class="input-group">
      <span class="input-group-addon">$</span>
        <%=f.text_field :total_education,:value => number_with_precision(f.object.total_education, :precision => 2), class:"form-control protection_need"%>
      </div>  
    </td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Total Need</td>
    <td style="padding-left: 10px; border-top: solid 2px;"><div style="font-weight:bold;" id="total"><%=money(@background.total_protection_need)%></div></td>
  </tr>
  <tr>
    <td></td>
    <td align="right"><%=link_to "reset","#", id:"reset"%></td>
  </tr>
  <tr class="blank_row"></tr>
  <%end%>
</table>
<div align="left">
 
  <div id="life_insurance">
  <h4>Different Types of Life Insurance:</h4>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Whole Life Insurance <a id="drop-down1" href="#" style="float:right;"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
        <a href="#"></a>
      </div>
      <div class="panel-body" id="panel1" style="display:none;">
        Body
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Variable Universal LIfe Insurance <a id="drop-down2" href="#" style="float:right;"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
        <a href="#"></a>
      </div>
      <div class="panel-body" id="panel2" style="display:none;">
        Body
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Index Universal Life Insurance <a id="drop-down3" href="#" style="float:right;"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
        <a href="#"></a>
      </div>
      <div class="panel-body" id="panel3" style="display:none;">
        Body
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Term Life Insurance <a id="drop-down4" href="#" style="float:right;"><%=image_tag("glyphicons-602-chevron-down.png",size:"10x10")%></a></h4>
        <a href="#"></a>
      </div>
      <div class="panel-body" id="panel4" style="display:none;">
        Body
      </div>
    </div>
  </div>
</div>
