
<div class="panel panel-default">
  <div class="panel-body" align="left">
    
    <table width="100%">
      <tr>
        <td width="20%">
          <%=link_to @story.broker do %>
            <%=full_name(@story.broker)%>
          <%end%><br>
          <%=smart_image(@story.broker,4)%>
        </td>
        <td width="50%">

          <h3><%=@story.title%></h3>
          <p><b>Financial Vehicle:</b><%=@story.product.name%></p>
          <p><b>Category:</b><%=Order::FINANCIAL_CATEGORIES_HASH[@story.financial_category]%></p>
          
        </td>
        <td width="30%">
          <div style="float:right">
            <button type="button" class="btn btn-success" id="save_story">
            Save Story
            </button>
          </div>
        </td>
      </tr>
    </table>
    <div class="panel panel-default">
      <div class="panel-heading clearfix" id="story_heading">
        <%=render "financial_stories/story_heading"%>
      </div>
      <div class="panel-body" style="vertical-align:top;">
        <%=@story.description%>
      </div>
    </div>
  </div>
</div>

<%=render "financial_stories/vote_error"%>
<div id="micro_comments">
  <%=render "micro_comments"%>
</div>

<%= content_tag "div", id: "save_story_form", data: {error:@rel_error} do%>
  <%=render "financial_stories/save_story_form"%>
<%end%>