<div style="text-align:left;">
<p>Add financial products you are licensed to sell to be displayed on your profile.</p>
</div>
<div id="fin_product_error_msg">

</div>
<%@fin_product=FinancialProduct.new%>
<%=form_for @fin_product, html:{id:"fin_product_add_form"} do |f|%>  
<table width="100%" style="text-align:left;">
  <tr>
    <td>Company:</td>
    <td><%=f.select :company_id,Company.all.collect {|c| [ c.name, c.id ] },{:include_blank => true},{style:"width:100%;"}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Financial Vehicle:</td>
    <td><%=f.select :product_id, @broker.products.collect{|p| [p.name,p.id]},{:include_blank => true},{style:"width:100%;"}%></td>
  </tr>  
  <tr class="blank_row"></tr>
  <tr>
    <td>Name:</td>
    <td><%=f.text_field :name, {style:"width:100%;"}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Description:</td>
    <td><%=f.text_area :description, rows:"5", style:"width:100%;"%></td>
  </tr>  
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.submit "Add"%></td>
    <td><%=f.hidden_field :broker_id, value: @broker.id%>
    </td>
  </tr>
</table>
<%end%>
