
<%if @edit=="about"%>
  <h4>About me 
    <%=link_to broker_path(id:@broker),id:"about_edit", remote:true do%>
    <span class="glyphicon glyphicon-edit"></span>
    <%end%>
  </h4>
  <%=form_for @broker, remote:true do |f|%>
  <%=f.text_area :ad_statement, {class:"form-control"}%>
  <%=f.submit "Edit", class:"btn btn-default"%>
  <%end%>

<%else%>
<h4>About me 
  <%=link_to broker_path(id:@broker,edit:"about"),id:"about_edit", remote:true do%>
  <span class="glyphicon glyphicon-edit"></span>
  <%end%>
</h4>
  <%if @broker.ad_statement%>
  <%=@broker.ad_statement%>
  <%else%>
  None.
  <%end%>
<%end%>