<div id="change_dialog-form" title="Crop Your Profile Picture">
  <div style="float:left; width:420px;">
    <h4>Your Picture</h4>  
    <%= image_tag @broker.image_url,style: 'width:400px;height:auto;', :id => "cropbox"%>
  </div>
  <div style="overflow:auto;" align="center">
    <h4>Preview</h4>
    <div class="crop_user_picture" >   
      <%= image_tag @broker.image_url,style: 'width:400px;height:auto;', :id => "preview" %>
    </div>
    <div style="width:100%;text-align:center;">
    <br>
    <%=form_for @broker, :html => { class:"broker_picture_form"} do |f|%>
      <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]%>
      <%=f.hidden_field attribute%>
      <%end%>
      <%= f.submit "Crop", class: "btn btn-primary btn-lg" %>
    <%end%> 

    </div>
  </div>
  <div style="clear:both;"></div>
  <div style="float:right;position:relative; bottom:60px;">
    <%= button_to 'Delete Picture',{action: :update,id: @broker.id, delete_picture:true}, {class:"btn btn-primary btn-lg",method: :put}%>
  </div>
</div>