<div class="panel panel-default" id=<%="education_edit_#{e.id}"%>>
  <div class="panel-body" align="left">
    <%if @edit=="education_edit_#{e.id}"%>
    <%=render "brokers/error_education"%>
        <%=form_for e, remote: true do |f|%>
         <table width="100%">
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
          <tr>
            <td><%=f.date_select :begin_date,{:start_year => Date.current.year, :end_year => 1960,discard_day: true}%></td>
            <td><%=f.date_select :end_date,:start_year => Date.current.year, :end_year => 1960,discard_day: true, include_blank: true%></td>    
            
          </tr>
        </table><br>
        <table width="100%">
          <tr>
            <td width="40%"><%=f.label "School_Name"%></td>
            <td width="60%"><%=f.text_field :school, {style:"width:100%;"}%></td>
          </tr>
          <tr class="blank_row_small"></tr>
          <tr>
            <td><%=f.label "Degree_Name"%></td>
            <td><%=f.text_field :degree, {style:"width:100%;"}%></td>
          </tr>
          <tr class="blank_row_small"></tr>
          <tr>
            <td><%=f.label "Honors"%></td>
            <td><%=f.text_field :honors, {style:"width:100%;"}%></td>
          </tr>
          <tr class="blank_row_small"></tr>
          <tr>
            <td><%=f.label "Details"%></td>
            <td><%=f.text_area :description, {style:"width:100%;"}%></td>
          </tr>
          <tr>
            <td><%=f.submit "Edit", class:"btn btn-default"%></td>
            <td align="right">
              <%=f.hidden_field :broker_id, value: @broker.id%>   
              <%=f.hidden_field :edit, value:"education_edit_#{e.id}"%>
              <%=link_to broker_path(id:@broker), remote: true do%>
                <span class="glyphicon glyphicon-edit"></span>
              <%end%>
            </td>
          </tr>
        </table>
        <%end%>
    <%else%>
        <table width="100%">
          <tr>
            <td>School:</td>
            <td><%=e.school%></td>
          </tr>
          <%unless e.degree.blank?%>
          <tr>
            <td>Degree:</td>
            <td><%=e.degree%></td>
          </tr>
          <%end%>
          <% if e.begin_date && e.end_date%>
          <tr>
            <td>Attendance:</td>
            <td><%=e.begin_date.strftime("%b, %Y")%>
             to <%=e.end_date.strftime('%b, %Y')%>
            <%=display_time_difference(e.begin_date,e.end_date)%>
            </td>
          </tr>
          <%end%>
          <%unless e.honors.blank?%>
          <tr>
            <td colspan=2>Honors</td>
          </tr>
          <tr>
            <td colspan=2><%=e.honors%></td>
          </tr>
          <%end%>
          <%unless e.description.blank?%>
          <tr>
            <td>Details:</td>
            <td><%=e.description%></td>
          </tr>
          <%end%>
          <tr>
            <td>
              <%=link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {controller:"educations",action:"destroy",id:e.id,broker_id:@broker.id},method: :delete,data: { confirm: "Are you sure?" },:remote => true %>
            
            </td>
            <td style="text-align:right;">      
              <%=link_to broker_path(id:@broker, edit:"education_edit_#{e.id}"), remote: true do%>
                <span class="glyphicon glyphicon-edit"></span>
              <%end%>
            </td>
          </tr>
        </table>
    <%end%>
  </div>
</div>