<div class="panel panel-default" id=<%="education_edit_#{e.id}"%>>
  <div class="panel-body" align="left">
    <table width="100%">
      <tr>
        <td>Company:</td>
        <td><%=e.company%></td>
      </tr>
      <%unless e.title.blank?%>
      <tr>
        <td>Title:</td>
        <td><%=e.title%></td>
      </tr>
      <%end%>
      <% if e.begin_date && e.end_date%>
      <tr>
        <td>Work Time:</td>
        <td><%=e.begin_date.strftime("%b, %Y")%>
          to 
          <%if e.current_experience%>
          Present
          <%else%>
          <%=e.end_date.strftime('%b, %Y')%>
          <%end%>
          <% if e.current_experience%>
          <%=display_time_difference(e.begin_date, Date.today)%>
          <%else%>
          <%=display_time_difference(e.begin_date, e.end_date)%>
          <%end%>
        </td>
      </tr>
      <%end%>
      <%unless e.location.blank?%>
      <tr>
        <td>Location</td>
        <td><%=e.location%></td>
      </tr>
      <%end%>
      <%unless e.description.blank?%>
      <tr>
        <td>Description:</td>
        <td><%=e.description%></td>
      </tr>
      <%end%>

    </table>
  </div>
</div>