
<%=render "brokers/error_experience_add"%>
<%if @edit=="experience_add"%>
  <%=link_to broker_path(id:@broker), remote: true do%>
  <span class="glyphicon glyphicon-plus"></span> Add Education
  <%end%>

  <%=form_for @experience, remote: true  do |f|%>
    <table width="100%">
      <tr>
        <th>End Date</th>
        <th>Start Date</th>
      <tr>
        <td><%=f.date_select :end_date,:start_year => Date.current.year, :end_year => 1960,discard_day: true, include_blank: true%></td>    
        <td><%=f.date_select :begin_date,{:start_year => Date.current.year, :end_year => 1960,discard_day: true}%></td>
      </tr>
    </table><br>
    <table width="100%">
      <tr>
        <td width="40%"><%=f.label "Company"%></td>
        <td width="60%"><%=f.text_field :company, {style:"width:100%;"}%></td>
      </tr>
      <tr class="blank_row_small"></tr>
      <tr>
        <td><%=f.label "Title"%></td>
        <td><%=f.text_field :title, {style:"width:100%;"}%></td>
      </tr>
      <tr class="blank_row_small"></tr>
      <tr>
        <td><%=f.label "Location"%></td>
        <td><%=f.text_area :location, {style:"width:100%;"}%></td>
      </tr>
      <tr class="blank_row_small"></tr>
      <tr>
        <td><%=f.label "Details"%></td>
        <td><%=f.text_area :description, {style:"width:100%;"}%></td>
      </tr>
      <tr>
        <td><%=f.submit "Add", class:"btn btn-default"%></td>
        <td><%=f.hidden_field :broker_id, value: @broker.id%></td>
      </tr>
    </table>
  <%end%>
<%else%>
<%=link_to broker_path(id:@broker, edit:"experience_add"), remote: true do%>
  <span class="glyphicon glyphicon-plus"></span> Add Experience
  <%end%>
<%end%>
