
<%=form_for @broker do |f|%>
<table width="70%">
  <tr>
    <td width="30%"><%=f.label :username%><%=asterisk_html%></td>
    <td width="70%"><%=f.text_field :username,{:class=>'form-control'}%></td>
  </tr> 
  <tr class="blank_row"></tr> 
  <% unless f.object.email_authen%>
  <tr>
    <td colspan=2>Please enter email and validate.</td>
  </tr>
  <%end%>
  <tr>
    <td width="30%"><%=f.label :email%><%=asterisk_html%></td>
    <td width="70%"><%=f.text_field :email,{:class=>'form-control'}%></td>
    <td><%= f.submit 'send validation code',name:"send_validation"%></td>
  </tr> 
  <% if f.object.email && (f.object.email_authen!=true)%>
    <tr>
      <td><%=f.label "Validation Code"%></td>
      <td><%=f.text_field :validation_code,{:class=>'form-control'}%></td>
      <td><%=f.submit "validate email", name:"validate_email"%></td>
    </tr>    
  <%elsif f.object.email && (f.object.email_authen==true)%>
    <tr>
      <td colspan=3>Email address is successfully validated.</td>
    </tr>
  <%end%>
  <tr class="blank_row"></tr> 
  <% if Broker.exists?(:id => f.object.id) && f.object.password_digest.present?%>
    <tr>
    <td colspan=2>
      <div class="alert alert-danger" role="alert">
      Your Password has already been saved, you don't need to re-enter it unless you want to change your original password.
      </div>
    </td>
  </tr>
  <%end%>
  <tr>
  	<td><%= f.label :password %></td>
  	<td><%= f.password_field :password,{:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  <tr>
    <td width="30%"><%=f.label :first_name, "First Name"%></td>
    <td width="70%"><%=f.text_field :first_name,{:class=>'form-control', :value=>cap(@broker.first_name)}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.label :last_name, "Last Name"%></td>
    <td><%=f.text_field :last_name,{:class=>'form-control',:value=>cap(@broker.last_name)}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.submit "Update Account"%></td>
    <td></td>
  </tr>
</table>
<%end%>