
<%= form_for @broker do |f|%>

  <table width="70%">    
  <tr>
    <th width="40%">License Type</th>
    <th width="30%"></th>
    <th width="30%"></th>
  </tr>
</table>

  <%= f.fields_for :licenses, :html => { :multipart => true } do |builder|%>  
<table width="70%">
  <tr>
    <td width="40%"><%=Order::LICENSE_TYPES_HASH[builder.object.license_type.to_s]%></td>
    <%edit=f.object.license_type_edit%>
    <%remove=f.object.license_type_remove%>
    <td width="30%">Edit?<%=check_box_tag "broker[license_type_edit][]",builder.object.id, edit ? edit.include?(builder.object.id.to_s): nil,id:"edit_#{builder.index}"%></td>
    <td width="30%">Remove?<%=check_box_tag "broker[license_type_remove][]",builder.object.id, remove ? remove.include?(builder.object.id.to_s): nil,id:"remove_#{builder.index}"%></td>
  </tr>
</table>
<%show=edit ? edit.include?(builder.object.id.to_s): nil%>
<%display=show ? "" : "style='display:none;'"%>
<table width="70%" <%=display.html_safe%> id=<%="license_#{builder.index}"%>>
  <tr>
    <td><%= builder.label Order::LICENSE_TYPES[builder.object.license_type.to_i-1][0]%></td>
    <td colspan=2><%= builder.hidden_field :license_type, value:builder.object.license_type%></td>
  </tr>
  <tr>
    <td><%=builder.label :license_number%></td>
    <td colspan=2><%=builder.text_field :license_number,:class=>"form-control"%></td>
  </tr>
  <tr>
    <td style="vertical-align: text-top;"><%=builder.label :states, "License State(s)"%></td>
    <td colspan=2>
    <% Order::US_STATES.each do |state|%>  
      <% if builder.object.states%>
      <%result=builder.object.states.include?(state[1])%>
      <%else%>
      <%result=false%>
      <%end%>
      <%=builder.check_box("states", {:multiple => true,checked:result},state[1],nil)%><%=builder.label state[1]%>
   <%end%>
     </td>
  </tr>
  <tr>
    <td><%=builder.label :picture, "Upload License PDF"%></td>
    <td colspan=2><%=builder.file_field :picture, :class=>"form-control"%></td>
  </tr>
  <tr>
    <td></td>
    <td colspan=2><b>Uploaded File:</b><%=abrev_display(builder.object.picture_file_name,20)%></td>
  </tr>
</table>
 <%end%>
<table width="70%">
  <tr>
    <td></td>
    <td><%=f.submit "Next",name:"edit2",:class=>"btn btn-primary"%></td>
  </tr>
</table>
<%end%>