<div class="alert alert-success" role="alert">
  Your request to change your name is pending approval.
  <%=link_to "View your submission", @temp_broker%>
</div>
<%=form_for @broker do |f|%>
<table width="70%">
  <tr>
    <td width="30%"><span style="color:red;">Pending Change</span><br><%=f.label :first_name, "First Name"%></td>
    <td width="70%"><%=cap(@broker.first_name)%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><span style="color:red;">Pending Change</span><br><%=f.label :last_name, "Last Name"%></td>
    <td><%=cap(@broker.last_name)%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><span style="color:red;">Pending Change</span><br><%=f.label :identification, "ID"%></td>
    <td>
      <b>File Uploaded:</b>
      <%=abrev_display(@broker.identification_file_name,20)%>
        <%= link_to "View", @broker.identification.url(:original, false), :target => "_blank" %>

    </td>
  </tr>  
  <tr class="blank_row"></tr>
</table>
<table width="70%">
  <tr>
    <td><%=f.label :institution_name, "Company Name"%></td>
    <td><%=f.text_field :institution_name,{:class=>'form-control'}%></td>
  </tr>
  <tr class="blank_row"></tr> 
</table>
<table width="70%">
  <tr>
    <td width="30%"><%=f.label "Work Address"%></td>
    <td width="10%"><%=f.label :street%></td>
    <td width="60%" colspan="3"><%=f.text_field :street,{:class=>'form-control'}%></td>

  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td width="30%"></td>
    <td width="10%"><%=f.label :city%></td>
    <td width="25%"><%=f.text_field :city,{:class=>'form-control'}%></td>
    <td width="10%" align="center"><%=f.label :state%></td>
    <td width="25%"><%=f.text_field :state,{:class=>'form-control'}%></td>
  </tr>
  <tr class="blank_row"></tr>
</table>
<table width="70%">
  <tr>
    <td width="30%"><%=f.label :phone_number_work, "Phone Number(Work)"%></td>
    <td width="10%"><%=f.text_field :phone_work_1,{maxlength: 3,:class=>'form-control'}%></td>
    <td width="5%" align="center">-</td>
    <td width="10%"><%=f.text_field  :phone_work_2,{maxlength: 3,:class=>'form-control'}%></td>
    <td width="5%" align="center">-</td>
    <td width="12%"><%=f.text_field :phone_work_3,{maxlength: 4,:class=>'form-control'}%></td>
    <td width="16%" align="center"><%=f.label :work_ext, "Ext."%></td>
    <td width="12%"><%=f.text_field :work_ext,{maxlength: 4,:class=>'form-control'}%></td>
  </tr>  
  <tr class="blank_row"></tr> 
  <tr>
    <td width="30%"><%=f.label :phone_number_cell, "Phone Number(Cell)"%></td>
    <td width="10%"><%=f.text_field :phone_cell_1,{maxlength: 3,:class=>'form-control'}%></td>
    <td width="5%" align="center">-</td>
    <td width="10%"><%=f.text_field :phone_cell_2,{maxlength: 3,:class=>'form-control'}%></td>
    <td width="5%" align="center">-</td>
    <td width="12%"><%=f.text_field :phone_cell_3,{maxlength: 4,:class=>'form-control'}%></td>  
    <td width="28%" colspan=2></td>
  </tr> 
  <tr class="blank_row"></tr> 
</table>
<table width="70%">
  <tr>
    <td width="30%"><%=f.label :web,"Web URL"%><b><i> (Optional)</i></b></td>
    <td width="70%"><%=f.text_field :web,{:class=>'form-control'}%></td>
  </tr> 
  <tr class="blank_row"></tr> 
  <tr>
    <td width="30%"><%=f.label :username%><%=asterisk_html%></td>
    <td width="70%"><%=f.text_field :username,{:class=>'form-control'}%></td>
  </tr> 
  <tr class="blank_row"></tr> 
  <tr>
    <td width="30%"><%=f.label :email%><%=asterisk_html%></td>
    <td width="70%"><%=f.text_field :email,{:class=>'form-control'}%></td>
  </tr> 
  <tr class="blank_row"></tr> 
  <% if Broker.exists?(:id => f.object.id) && f.object.password_digest.present?%>
    <tr>
    <td colspan=2>
      <div class="alert alert-danger" role="alert">
      Your Password has already been saved, you don't need to re-enter it unless you want to change your original password.
      </div>
    </td>
  </tr>
  <%end%>
  <tr>
  	<td><%= f.label :password %></td>
  	<td><%= f.password_field :password,{:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  
	<tr>
    <td><%= f.label :password_confirmation, "Password Confirmation" %></td>
  	<td><%= f.password_field :password_confirmation,{:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  <tr>
    <td colspan=2><%=f.submit "Update",name:"edit1",:class=>"btn btn-primary"%></td>
    <td></td>
  </tr>
</table>
<%end%>