<%provide :title, "|Register Page 1"%>
<%=form_for @broker,:url => url_for(:controller => 'brokers', :action => 'create') do |f|%>

<table width="70%">

  <tr>
    <td width="50%"><%=f.label "Username"%><%=asterisk_html%></td>
    <td width="50%"><%=f.text_field :username,{:class=>'form-control'}%></td>
  </tr> 
  <tr class="blank_row"></tr> 
  <tr>
    <td><%= f.label "Password" %><%=asterisk_html%></td>
  	<td><%= f.password_field :password,{:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  
	<tr>
    <td><%= f.label "Password Confirmation" %><%=asterisk_html%></td>
    <td><%= f.password_field :password_confirmation,{:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  <tr>
    <td></td>
    <td><%=f.submit "Create Account",:class=>"btn btn-primary", style:"width:100%;"%></td>
    
  </tr>
</table>
<%end%>