<script>
$(function(){
  <%if @broker.picture_file_name && (@crop!="true")%>
  change_dialog = $( "#change_dialog-form" ).dialog({
    autoOpen: false,
    height: 550,
    width: 800,
    modal: true
  });
  <%elsif @broker.picture_file_name && (@crop=="true")%>
  upload_dialog = $( "#upload_dialog-form" ).dialog({
    autoOpen: true,
    height: 550,
    width: 800,
    modal: true
  });    
  <%else%>
  upload_dialog = $( "#upload_dialog-form" ).dialog({
    autoOpen: false,
    height: 550,
    width: 800,
    modal: true
  });
  <%end%>
  $( ".change-btn" ).button().on( "click", function() {
  //  alert("it's working");
    change_dialog.dialog( "open" );
  });
  $( ".upload-btn" ).button().on( "click", function() {
  //  alert("it's working");
    upload_dialog.dialog( "open" );
  });

});


</script>

<div align="left" style="float:left; width:40%;">  
  <table style=" text-align:left;width:100%">
    <tr>
      <td>
        <%=smart_image(@broker,2)%>
      </td>
    </tr>
    <tr>
      <td>
        <% if ((@crop !="true") && @broker.picture_file_name) %>
        <button type="button" class="btn btn-default btn-lg change-btn">
          Change Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
        <%else%>
        <button type="button" class="btn btn-default btn-lg upload-btn">
          Upload Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>        
        <%end%>
      </td>
    </tr>
  </table>
  <%=render "brokers/picture_form"%>

</div>
<div id ="profile_info" align="left" style="overflow: auto;padding:5px;">
  <%=render "brokers/profile_info_edit"%>
</div>
<div style="clear:both;"></div>
<table width="100%">
  <tr>
    <td width="50%" class="panel panel-default">
        <div class="panel-body" align="left">
          <div id="about" style="padding:5px;">
            <%=render "brokers/about_edit"%>
          </div>
          <div id="skills" style="padding:5px;">
            <%=render "brokers/skills_edit"%>
          </div>
        </div>
    </td>
    <td width="50%" class="panel panel-default" style="vertical-align:top;">
        <div class="panel-body" align="left">
          <h4>Recommendations</h4>
          <h4>Financial Stories</h4>
        </div>
    </td>
  </tr>
</table><br>
<div align="left" style="float:left; width:50%; margin:5px;">
  <div class="panel panel-default">
    <div class="panel-body" align="left">
      <h4>License(s)
        <%=link_to broker_licenses_path(@broker) do%>
        <span class="glyphicon glyphicon-edit"></span>
        <%end%>

      </h4>
      <%@broker.setup_broker.licenses.each_with_index do |l,index|%>
        <%if index==0%>
          <%=l.license_type%>
        <%else%>
          ,<%=l.license_type%>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body" align="left">
      <h4>Financial Vehicle(s)
        <%=link_to broker_products_path(@broker) do%>
          <span class="glyphicon glyphicon-edit"></span>
        <%end%>
      </h4>
      <%@broker.product_ids.each_with_index do |p,index|%>
        <%product=Product.find(p)%>
        <%if index==0%>
          <%=product.name%>
        <%else%>
          <%=", #{product.name}"%>
        <%end%>
      <%end%>
      <h4>Financial Product(s)

      </h4>
 
      <%@broker.product_ids.each_with_index do |product_id,index|%>
      <%product=Product.find(product_id)%>
        <%if product%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <%=render partial:"brokers/financial_product_add", locals:{product:product,index:index}%>   
              </h3>
            </div>
            <div class="panel-body">
              <%@broker.financial_products.where(product_id:product.id).includes(:company).order("companies.name DESC").each do |financial_product|%> 

                <span class="label label-primary">
                  <%="#{financial_product.company.name} #{financial_product.name}"%>
                </span>
                  <%=link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, {controller:"financial_products",action:"destroy",id:financial_product.id,broker_id:@broker.id},method: :delete,data: { confirm: "Are you sure?" },:remote => true %>
                
              <%end%>
            </div>
          </div>
   
          
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body" align="left">
      <h4>Education</h4>
      <div id="education_add" style="padding:5px;">
        <%=render "brokers/education_add"%>   
      </div>
      <%unless @broker.educations.count >0%>
        None.
      <%else%>
      <% @broker.educations.order(end_date: :desc).each do |e|%>
          <% unless e.new_record?%>
            <%=render partial:"brokers/education_edit", locals:{e:e}%>
          <%end%>
        <%end%>
      <%end%>
    </div>
  </div>  
</div>
<div align="left" style="overflow: auto; margin:5px;">

  <div class="panel panel-default">
    <div class="panel-body" align="left">
      <h4>Experience</h4>
      <div id="experience_add" style="padding:5px;">
        <%=render "brokers/experience_add"%>   
      </div>
      <%unless @broker.experiences.count >0%>
        None.
      <%else%>
      <% current_experience=@broker.experiences.find_by(current_experience:true)%>
      <% unless current_experience.new_record?%>
          <%=render partial:"brokers/experience_edit", locals:{e:current_experience}%>
       <%end%>      
      
      <% @broker.experiences.where(current_experience:false).order(end_date: :desc).each do |e|%>
          <% unless e.new_record?%>
            <%=render partial:"brokers/experience_edit", locals:{e:e}%>
          <%end%>
        <%end%>      
      <%end%>
    </div>
  </div>  
</div>