<div style="float:left; width:30%;" align="left">

  <% if !@broker.image_url.to_s.empty?%> 
    <%= content_tag "div", id: "picture_form", data: {picture_file_name: @broker.image_url.to_s,broker_pic_large_width:@broker.image.get_geometry[0],broker_pic_large_height:@broker.image.get_geometry[1],crop:@crop}, style:"float:left; width:40%;",align:"left" do %>
    <%=render "brokers/picture_form"%>

    <% end %>
  <%else%>
    <div id="picture_form">
      <%=render "brokers/picture_form"%>  
    </div>
  <%end%>
</div>
<div id="personal_info">
  <div id ="profile_infos" align="left" style="overflow: auto;padding:5px;">
    <%=render "brokers/profile_infos"%>
  </div>
  <div style="clear:both;"></div>

  <table width="100%" style="border-spacing: 5px;">
    <tr>   
      <td width="65%" align="left" style="padding:5px;border: 1px ridge;vertical-align:top;">

        <div id="abouts">
          <%=render "brokers/abouts"%>
        </div>
        <div id="skills">
          <%=render "brokers/skills"%>
        </div>
        <div id="licenses">
          <%=render "brokers/licenses"%>
        </div>
        <div id="finance_vehicles_products">
          <%=render "brokers/finance_vehicles_products"%>
        </div>       
        <div id="educations">
          <%=render "brokers/educations"%>
        </div>           
        <div id="experiences">
          <%=render "brokers/experiences"%>
        </div>           
      </td>
      <td width="35%" align="left" style="padding:5px;vertical-align:top;border: 1px ridge;">
        
        <div style="float:left;font-size:1.1em;"><b>Financial Stories</b></div>    

        <div style="float:right;font-size:1.1em;">
          <%=link_to "#", class:"create_finance_story" do%>
          <span class="glyphicon glyphicon-plus"></span> Create Story
          <%end%>
        </div>
        <div style="clear:both;"></div>
        <div id="financial_stories">
          <%=render "brokers/financial_stories"%>
        </div>
        <% if @story.nil?%>
          <%@story=FinancialStory.new%>
        <%end%>
        <div id="create_story_form" align="center" title="Create Financial Story">
          <%=render partial:"financial_stories/story_form", locals:{story:@story}%>
        </div>  

      </td>
    </tr>
  </table>
</div>
