  <table style=" text-align:left;width:100%;">
    <tr>
      <td>
     
        <%=smart_image(@broker,2)%>
      </td>
    </tr>
    <tr>
      <td>
        <% if ((@crop !="true") && !@broker.image_url.to_s.empty?) %>
        <button type="button" class="btn btn-default btn-lg change-btn">
          Change Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
        <%else%>
        <button type="button" class="btn btn-default btn-lg upload-btn">
          Upload Photo
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>        
        <%end%>
      </td>
    </tr>
  </table>
here <%=@broker.image_url.to_s.empty?%>; crop:<%=@crop%>;
<%if !@broker.image_url.to_s.empty? && @crop!="true"%>
<%=render "brokers/change_dialog_form"%>
<%else%>

 <%=render "brokers/upload_dialog_form"%>

<%end%>

