
<div style="float:left;">
  <h1><%=full_name(@broker)%></h1> 
  <h4>
    <% if @broker.title%>
      <%=@broker.title%> 
    <%else%>
      Unknown Title 
    <%end%>
    at <%=@broker.company_name%>
  </h4>
</div>
<div style="overflow:auto;padding:20px;">        
  <h4><span class="label label-primary">0 Recommendations</span></h4>
  <h4><span class="label label-primary">0 Upvotes</span></h4>
</div>
<table width="100%">

  <tr>
    <td width="90%">
      <table width="100%">
        <tr>
          <td width="50%">Location:</td>
          <td width="50%"><%=@broker.company_location%></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%=@broker.email%></td>
        </tr>
        <tr>
          <td>Phone Number (Work):</td>
          <td><%=phone_num_display(@broker.phone_number_work)%></td>
        </tr>
        <tr>
          <td>Phone Number (Cell):</td>
          <td><%=phone_num_display(@broker.phone_number_cell)%></td>
        </tr>
        <tr>
          <td>URL:</td>
          <td><a href=<%="#{@broker.web}"%>><%=@broker.web%></a></td>
        </tr>
      </table>
    </td>
    <td width="100%">
    </td>
  </tr>
</table>