
  <div class="profile_info" style="height:100%;">

    <%if @edit=="profile_info"%>
    <h1><%=full_name(@broker)%>
      <%=link_to broker_path(id:@broker),id: "profile_info_edit", remote:true do%>
        <span class="glyphicon glyphicon-edit"></span>
      <%end%>
    </h1> 
    <h4><%=@broker.title%> at <%=@broker.company_name%></h4>
    <%=form_for @broker, remote:true do |f|%>
        <table width="100%">
          <tr>
            <td width="50%">Location:</td>
            <td width="50%"><%=@broker.company_location%></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><%=@broker.email%></td>
          </tr>
          <tr>
            <td>Phone Number (Work):</td>
            <td><%=f.text_field :phone_number_work, {style:"width:100%;"}%></td>
          </tr>
          <tr>
            <td>Phone Number (Cell):</td>
            <td><%=f.text_field :phone_number_cell, {style:"width:100%;"}%></td>
          </tr>
          <tr>
            <td>URL:</td>
            <td><%=f.text_field :web, {style:"width:100%;"}%></td>
          </tr>
          <tr>
            <td><%=f.submit "Edit", {class: "btn btn-default"}%></td>
            <td></td>
          </tr>
        </table>   
      <%end%>
    <%else%>
    <h1><%=full_name(@broker)%>
      <%=link_to broker_path(id:@broker,edit:"profile_info"), id: "profile_info_edit", remote:true do%>
        <span class="glyphicon glyphicon-edit"></span>
      <%end%>
    </h1> 
    <h4><%=@broker.title%> at <%=@broker.company_name%></h4>
      <table width="100%">
        <tr>
          <td width="50%">Location:</td>
          <td width="50%"><%=@broker.company_location%></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%=@broker.email%></td>
        </tr>
        <tr>
          <td>Phone Number (Work):</td>
          <td><%=phone_num_display(@broker.phone_number_work)%></td>
        </tr>
        <tr>
          <td>Phone Number (Cell):</td>
          <td><%=phone_num_display(@broker.phone_number_cell)%></td>
        </tr>
        <tr>
          <td>URL:</td>
          <td><a href=<%="#{@broker.web}"%>><%=@broker.web%></a></td>
        </tr>
      </table>
    <%end%>
  </div>