<div class="profile_info" style="height:100%;">
  <h1><%=full_name(@broker)%></h1> 
  <h4><%=@broker.title%> at <%=@broker.company_name%></h4>

  <table width="100%">
    <tr>
      <td>Location:</td>
      <td><%=@broker.company_location%></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><%=@broker.email%></td>
    </tr>
    <tr>
      <td>Phone Number (Work):</td>
      <td></td>
    </tr>
    <tr>
      <td>Phone Number (Cell):</td>
      <td></td>
    </tr>
  </table>

</div>