<% content_for :title do %>|Public<%end%>
<div style="float:left; width:30%;padding-top:25px;" align="left"> 
 <%=smart_image(@broker,2)%>
</div>
<div id ="profile_info" align="left" style="overflow: auto;padding:5px;">
  <%=render partial:"brokers/profile/profile_infos",locals:{mode:"public"}%>
</div>
<div style="clear:both;"></div>

<div id="public_info">
  <table width="100%" style="border-spacing: 5px;">
    <tr>   
      <td width="70%" align="left" style="padding:5px;border: 1px ridge;vertical-align:top;">

        <div id="abouts">
          <%=render partial:"brokers/profile/abouts",locals:{mode:"public"}%>
        </div>
        <div id="skills">
          <%=render partial:"brokers/profile/skills",locals:{mode:"public"}%>
        </div>
        <div id="licenses">
          <%=render partial:"brokers/profile/licenses",locals:{mode:"public"}%>
        </div>
        <div id="financial_vehicles">
          <%=render partial:"brokers/profile/financial_vehicles",locals:{mode:"public"}%>
        </div>      
        <div id="educations">
          <%=render partial:"brokers/profile/educations",locals:{mode:"public"}%>
        </div>           
        <div id="experiences">
          <%=render partial:"brokers/profile/experiences",locals:{mode:"public"}%>
        </div>   
        <div id="financial_stories">   
          <%=render partial:"brokers/profile/financial_stories",locals:{mode:"public"}%>
        </div>  
      </td>
      <td width="30%" align="left" style="padding:5px;vertical-align:top;border: 1px ridge;">

      </td>
    </tr>
  </table>
</div>
