<% content_for :title do %>|Broker Profile<%end%>
<div style="float:left;">
<%=smart_image(@broker,3)%>
</div>

<div>
  <h3><%=full_name(@broker)%></h3>
  <%=render "profile_top"%>
</div> 
<div style="clear:both;"></div>
<div align="left">
  
  <ul>
    <%@broker.setup_broker.licenses.each do |l|%>
    <li><%=Order::LICENSE_TYPES[l.license_type.to_i-1][0]%>: License# <%=l.license_number%></li>
    <%end%>
  </ul>
  <p><b>Product(s):</b></p>
  <ul>
    <%@broker.products.each do |l|%>
    <li><%=Product.find(l).name%></li>
    <%end%>
  </ul>
</div>
<div style="float:right;">
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@broker.latitude}%2C#{@broker.longitude}" %>
</div>
<div style="clear:both;"></div>
