<div class="panel panel-default">
  <div class="panel-body" align="left">
  <%if @edit=="skills"%>
    <h4>Skills & Specialties
      <%=link_to broker_path(id:@broker), id:"skills_edit", remote:true do%>
      <span class="glyphicon glyphicon-edit"></span>
      <%end%>
    </h4>
    <%=form_for @broker, remote:true do |f|%>
    <%=f.text_area :skills, {class:"form-control"}%>
    <%=f.submit "Edit", class:"btn btn-default"%>
    <%end%>
  <%else%>
    <h4>Skills & Specialties
      <%=link_to broker_path(id:@broker, edit:"skills"), id:"skills_edit", remote:true do%>
      <span class="glyphicon glyphicon-edit"></span>
      <%end%>
    </h4>
    <%if @broker.skills%>
      <%=@broker.skills%>
    <%else%>
      None.
    <%end%>
  <%end%>
  </div>
</div>