<div id="upload_dialog-form" title="Upload Your Profile Picture">
  
  <% unless @broker.picture_file_name%>
    <%= form_for @broker, :html => { :multipart => true } do |f| %>
      <div style="float:left; width=50%;">
        <h4>Your Picture</h4>  
          <%=smart_image(@broker,3)%>

      </div>     
      <div style="clear:both;"></div>
      <div style="float:left; width=50%;">
        <table width="100%">
         <tr>
            <td width="100%"><%=f.file_field :picture, class: "form-control"%></td>
          </tr>
          <tr>
            <td style="text-align:left;"><%=f.submit "Post Picture", class: "btn btn-default btn-lg"%></td>
          </tr>
        </table>
      </div>
    <%end%>
  <%else%>
    <%=render "crop"%>
  <%end%>
  
</div>