<script>
  $(document).ready(function(){
    var x=false;                                           
    $("input[name='broker[license_type_edit][]']").click(function(){
      var id=$(this).attr("id").substr(-1);
      var edit_form_id="#license_".concat(id);
      var remove_checkbox_id="#remove_".concat(id);
      $(edit_form_id).toggle();    
      if (!x){
        $(remove_checkbox_id).attr("disabled",true)
        x=true
      }
      else{
        $(remove_checkbox_id).attr("disabled",false)
        x=false
      }
    });
    $("input[name='broker[license_type_remove][]']").click(function(){
       var id=$(this).attr("id").substr(-1);
      var edit_checkbox_id="#edit_".concat(id);
      if (!x){
        $(edit_checkbox_id).attr("disabled",true)
        x=true
      }
      else{
        $(edit_checkbox_id).attr("disabled",false)
        x=false
      }
    });
  });
</script>
<%provide(:title,"|Edit Broker")%>
<%= render 'menu_top'%>
<div style="clear:both;border-top:2px solid;"></div>
<h3>Update License and Product</h3>
<%=render "error"%>
<%=render "form2"%>
<%#broker= @broker.temp_brokers.where(edit_type:2).first%>
<% if false%>
  <p>You have already submit change request</p>
  <%if !broker.license_type.blank?%>
  <%=broker.license_type%>
  <%end%>
  <%if !broker.license_type_edit.blank?%>
  <%=broker.license_type_edit%>
  <%end%>
  <%if !broker.license_type_remove.blank?%>
  <%=broker.license_type_remove%>
  <%end%>
<%else%>

<%end%>