<%provide(:title,"|Edit Broker")%>
<%= render 'brokers/menu_top'%>
<div style="clear:both;border-top:2px solid;"></div>

<h3>Update License</h3>

<div class="panel panel-default">
  <div class="panel-body" align="left">
    <h4>Your Licenses</h4>
    <table width="100%">
      <tr>
        <th width="20%">License Type</th>
        <th width="25%">License Number</th>
        <th width="25%">File Name</th>
        <th width="20%">Status</th>
        <th width="10%"></th>
      </tr>
      <%@broker.reload%>
      <%@broker.setup_broker.licenses.each do |l|%>
      <%request=BrokerRequest.find_by(license_id:l.id)%>
      <tr>
        <td><%=l.license_type%></td>
        <td><%=l.license_number%></td>
        <td>
          <% if l.license_image.file%>
          <%=l.license_image.file.filename%>
          <%=link_to "View", l.license_image.url(:original, false), :target => "_blank"%>
          <%end%>
        </td>
        <td>
        <%if request%>
          <% if request.admin_reply=="approve"%>
          Approved.
          <%elsif request.admin_reply=="dispprove"%>
          Denied.
          <%elsif request.admin_reply==nil%>
          Pending Approval.
          <%end%>
        <%end%>
        </td>
        <td>
        <%if request%>
          <%if request.admin_reply==nil%>
          <%= button_to 'Remove',{controller:"licenses",action: :destroy,id: l.id, broker_id:@broker.id},{method: :delete, class:"btn btn-default",data: {confirm: "Are you sure?"}} %>
          <%end%>
        <%end%>
        </td>
      </tr>
      <%end%>
    </table>
  </div>
</div>
<div class="panel panel-default" style="width:50%;float:left;">
  <div class="panel-body" align="left">
    <%=render "licenses/error"%>
    <h4>Add License</h4>
    
    <%=form_for @license, :html => { :multipart => true } do |f|%>
    <table width="100%">
      <tr>
        <td><%=f.label "License Type"%></td>
        <td>
          <%=f.select :license_type, Order::LICENSE_TYPES.to_h.keys,{prompt:"Select License Type"}, {:class=>'form-control'}%> 
        </td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
        <td><%=f.label "License Number"%></td>
        <td><%=f.text_field :license_number,{class:'form-control'}%></td>
      </tr>
      <tr class="blank_row"></tr>
      <tr>
        <td><%=f.label "Upload Attachment"%></td>
        <td><%=f.file_field :picture, {class:'form-control'}%></td>
      </tr>    
      <tr class="blank_row"></tr>
      <tr>
        <td><%=f.submit "Upload License", class:"btn btn-default"%></td>
        <td><%=hidden_field_tag :broker_id, @broker.id%></td>
      </tr>
    </table>
    <%end%>
  </div>
</div>