<%provide :title, "|Broker Sign Up"%>
<div style="width:70%;">
<%=render partial:"shared/error_message", locals:{object:@broker}%>
</div>
<h2>Financial Rep Sign Up</h2><br>

<%=form_for @broker,:url => url_for(:controller => 'brokers', :action => 'create') do |f|%>

<table width="70%">

  <tr>
    <td width="50%"><%=f.label "Username"%> <span style="color:red;"><i>(case insensitive)</i></span><%=asterisk_html%></td>
    <td width="50%"><%=f.text_field :username,{:class=>'form-control'}%></td>
  </tr> 
  <tr class="blank_row"></tr> 
  <tr>
    <td><%= f.label "Password" %><%=asterisk_html%><br>
    </td>
    <td><%= f.password_field :password,{title:"must contain at least 7 characters; must contain at least one number, one capital letter and lower case letter, and one special character.",:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  
	<tr>
    <td><%= f.label "Password Confirmation" %><%=asterisk_html%></td>
    <td><%= f.password_field :password_confirmation,{:class=>'form-control'} %></td>
  </tr>
  <tr class="blank_row"></tr> 
  <tr>
    <td></td>
    <td><%=f.submit "Create Account",:class=>"btn btn-primary", style:"width:100%;"%></td>
    
  </tr>
</table>
<%end%>
<div style="text-align:left; padding-top:20px; width:70%;">
  <p style="font-size:1.3em;">Or sign up through the following social media:</p>
  <table>
    <tr>
      <td style="padding:5px;">
        <%= link_to image_tag("twitter_icon.png", size:"40x40"), twitter_path(broker:true)%>
      </td>
      <td style="padding:5px;"><%= link_to image_tag("googleplus_icon.png", size:"40x40"), googleplus_path(broker:true)%>
      </td>
      <td style="padding:5px;"><%= link_to image_tag("fb_icon.png", size:"40x40"), facebook_path(broker:true), size:"20x20"%></td>
      <td style="padding:5px;"><%= link_to image_tag("linkedin_icon.png", size:"40x40"), linkedin_path(broker:true)%></td>
    </tr>
  </table>
</div>