<%=form_for @product do |f|%>
<table width="70%">
  <tr>
    <td><%=f.label "Name"%></td>
    <td><%=f.text_field :name,{:class=>'form-control'}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.label "Description"%></td>
    <td><%=f.text_area :description,{:class=>'form-control', size: "20x10"}}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.label "Risk Level"%></td>
    <td><%=f.select :risk_level,Order::RISKS,{},{:class=>'form-control'}%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.label "Primary Financial Category"%></td>
    <td><%=f.select :vehicle_type, Order::FINANCIAL_CATEGORIES, {},{:class=>'form-control'}%></td>
  </tr>  
  <tr class="blank_row"></tr>
  <tr>
    <td><%=f.submit%></td>
    <td></td>
  </tr>
</table>
<%end%>