  <% unless @category%>
  
  <div style="width:50%;float:left;">
    <h3>Financial Vehicle Categories</h3>
      <div align="left">
         
          <p><%= radio_button_tag(:category, "1") %>1.<%=link_to "Protection",{vehicle_type:"1"} %></p>
          <p><%= radio_button_tag(:category, "2") %>2.<%=link_to "Debt Management",{vehicle_type:"2"} %></p>
          <p><%= radio_button_tag(:category, "3") %>3.<%=link_to "Retirement",{vehicle_type:"3"} %></p>
          <p><%= radio_button_tag(:category, "4") %>4.<%=link_to "Investment",{vehicle_type:"4"} %></p>
          <p><%= radio_button_tag(:category, "5") %>5.<%=link_to "Education Fund",{vehicle_type:"5"} %></p>
          <p><%= radio_button_tag(:category, "6") %>6.<%=link_to "Budgeting",{vehicle_type:"6"} %></p>
          <p><%= radio_button_tag(:category, "7") %>7.<%=link_to "Tax Saving",{vehicle_type:"7"} %></p>
        
      </div>
  </div>
  <div style="width:50%;float:right;">
    
    <h3>Financial Vehicles</h3>
    <div align="right"><%=button_to "Add Vehicle", new_product_url,{method:"get"}%></div>
    <div align="left">
      <ol>
      <%@products.each do |product|%>
        <li><%=link_to "#{product.name}",product%> </li>
      <%end%>
      </ol>
    </div>
  </div>
  <%else%>
    <% if @category=="1"%>
      <%=render "protection"%>
    <% elsif @category=="2"%>
      <%=render "debt_management"%>
    <% elsif @category=="3"%>
      <%=render "retirement"%>
    <% elsif @category=="4"%>
      <%=render "investment"%>
    <% elsif @category=="5"%>
      <%=render "education_fund"%>
    <% elsif @category=="6"%>
      <%=render "budgeting"%>
    <% elsif @category=="7"%>
      <%=render "tax_saving"%>
    <%end%>
  <%end%>
