<%=link_to "Back to index", products_path%>
<table width="70%">
  <tr>
    <td width="30%">Name</td>
    <td width="70%"><%=@product.name%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Description</td>
    <td><%=@product.description%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Risk Level</td>
    <td><%=@product.risk_level%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Primary Financial Category</td>
    <td><%=Order::FINANCIAL_CATEGORIES[@product.vehicle_type.to_i-1][0]%></td>
  </tr>  
  <tr class="blank_row"></tr>
</table>
<table width="70%">
  <tr>
    <td><%=link_to "Add Secondary Relation",new_product_relation_path(product_id: @product.id)%></td>
    <td><%=button_to "Edit", edit_product_path(@product),{method: :get}%></td>
    <td><%= button_to 'Delete',{action: :destroy,id: @product.id},method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr> 
</table>
<table width="70%">
  <tr>
    <td colspan=2>Associated Category:</td>
  </tr>
</table>
<table width="70%">
  <% unless @categories.length >0%>
  <tr>
    <td colspan=2>None</td>
  </tr>
  <%else%>
    <tr>
      <th>Category</th>
      <th>Explanation</th>
    </tr>
    <%@categories.each do |c|%>
    <%temp=Order::FINANCIAL_CATEGORIES[c.vehicle_type-1]%>
    <tr>
      <td><%=link_to temp[0],products_url(vehicle_type:temp[1].to_s)%></td>
      <td><%=c.description%></td>
    </tr>
    <%end%>
  <%end%>
</table>

