<%=link_to "Back to index", products_path%>
<table width="70%">
  <tr>
    <td width="30%">Name</td>
    <td width="70%"><%=@product.name%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Description</td>
    <td><%=@product.description%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Risk Level</td>
    <td><%=@product.risk_level%></td>
  </tr>
  <tr class="blank_row"></tr>
  <tr>
    <td>Primary Financial Category</td>
    <td><%=Order::FINANCIAL_CATEGORIES[@product.vehicle_type.to_i-1][0]%></td>
  </tr>  
  <tr class="blank_row"></tr>
  <tr>
    <td><%=button_to "Add Secondary Relation", new_product_relation_url(product_id:@product.id),{method: :get}%></td>
    <td><%=button_to "Edit", edit_product_path(@product),{method: :get}%>
      <%= button_to 'Delete',url_for(action: :destroy,id: @product.id),{method: :delete}, data: {confirm: "Are you sure?"} %></td>
  </tr> 
</table>

