<h1>Select Your Licenses (3 of 8)</h1>
<div style="width:85%;text-align:left;padding-top:10px;">
  <%= form_for :broker, :url => setup_broker_path(@broker), :html => { :method => :put} do|f|%>
    <%= hidden_field_tag "broker[license_type][]", nil %>
    <% licenses=Order::LICENSE_TYPES.to_h.keys%>
    <table width="100%" id="license_table">

    <% for license in licenses%>
      <tr>
        <td width="10%"><%=f.check_box("license_type", {:multiple => true, size:"25x25"}, license, nil)%></td>
        <td width="25%"><%=license%></td>
        <td width="65%"><%=Order::LICENSE_DESCRIPTION_HASH[license]%></td>
      </tr>
      <tr class="blank_row"></tr>
    <%end%>

    </table>
    <table width="100%">
      <tr>
        <td width="48%"><%=f.submit "Previous", name:"back", :class=>"btn btn-lg btn-success", style:"width:100%;"%></td>
        <td width="4%"></td>
        <td width="48%"><%=f.submit "Next",name:"next_from_pg3",:class=>"btn btn-lg btn-success", style:"width:100%;"%></td>
      </tr>
    </table>
  <%end%>
</div>