<h1>Your Skills and Statement</h1>
<div align="left" style="width:70%;">
<%= form_for :broker, :url => setup_broker_path(@broker), :html => { :method => :put} do|f|%>

  <h4>Enter Your Skills and Specialty (<i>separated by comma</i>)</h4>
  <%=f.text_area :skills,{rows:"3",:class=>'form-control'}%>
  <h4>Enter a brief statement about yourself regarding your skills (<i>150 character max</i>)</h4>
<%=f.text_area :ad_statement,{rows:"5",:class=>'form-control'}%><br>
  <%=f.submit "Previous", name:"back", :class=>"btn btn-lg btn-default"%>
  <%=f.submit "Next",name:"next", :class=>"btn btn-lg btn-default"%>

<%end%>
</div>