<h1>Select Your Financial Vehicle</h1>
<%= form_for :broker, :url => setup_broker_path(@broker), :html => { :method => :put} do|f|%>
  <%= hidden_field_tag "broker[product_names][]", nil %>
  <%Order::FINANCIAL_CATEGORIES_HASH.each do |category|%>

    <table width="70%">
      <tr>
        <td colspan=4><h3><%=category[1]%></h3></td>
      </tr>
      <% Product.where(vehicle_type:category[0]).each_with_index do |p,index|%>
        <% if index%2 ==0%>
          <tr>
            <td width="10%"><%=f.check_box("product_names", {:multiple => true, size:"25x25"}, p.name, nil)%></td>
            <td width="40%"><%=p.name%></td>
        <%else%>
            <td width="10%"><%=f.check_box("product_names", {:multiple => true, size:"25x25"}, p.name, nil)%></td>
            <td width="40%"><%=p.name%></td>
          </tr>
        <%end%>
      <%end%>
    </table>
  <%end%>
  <%=f.submit "Previous", name:"back", :class=>"btn btn-lg btn-default"%>
  <%=f.submit "Next",name:"next", :class=>"btn btn-lg btn-default"%>
<%end%>