<%provide :title, "|Register Page 5"%>
<h1>Select Your Financial Vehicle (5 of 8)</h1>
<div style="width:85%;text-align:left;">
<%= form_for :broker, :url => setup_broker_path(@broker), :html => { :method => :put} do|f|%>
<%= hidden_field_tag "broker[product_ids][]", nil %>
  <%Order::FINANCIAL_CATEGORIES_HASH.each do |category|%>

    <table width="100%">
      <tr>
        <td colspan=4><h3><%=category[1]%></h3></td>
      </tr>
      <% Product.where(vehicle_type:category[0]).each_with_index do |p,index|%>
        <% if index%2 ==0%>
          <tr>
            <td width="10%"><%=f.check_box("product_ids", {:multiple => true, size:"25x25"}, p.id, nil)%></td>
            <td width="40%"><%=p.name%></td>
        <%else%>
            <td width="10%"><%=f.check_box("product_ids", {:multiple => true, size:"25x25"}, p.id, nil)%></td>
            <td width="40%"><%=p.name%></td>
          </tr>
        <%end%>
      <%end%>
    </table>
  <%end%>
  <table width="100%">
    <tr class="blank_row"></tr>
    <tr>
      <td width="48%"><%=f.submit "Previous", name:"back", :class=>"btn btn-lg btn-success", style:"width:100%;"%></td>
      <td width="4%"></td>
      <td width="48%"><%=f.submit "Next",name:"next",:class=>"btn btn-lg btn-success", style:"width:100%;"%></td>
    </tr>
  </table>
<%end%>
</div>