<% if current_broker.setup_completed?%>
<ul class="navbar-nav nav pull-right">
 
  <li class="dropdown" id="broker_message">
    <%=render "layouts/broker_message"%>
  </li>
  <li class="dropdown" id="broker_notification">
    <%=render "layouts/broker_notification"%>
  </li>
 
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Account <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Broker Profile', current_broker %></li>
      <li><%= link_to 'Private Setting', edit_broker_path(current_broker)%></li>
      <li class="divider"></li>
      <li><%= link_to 'Log Out',broker_logout_path, method: "delete"%></li>
    </ul>
  </li>  
</ul>
<%else%>
<ul class="navbar-nav nav pull-right">
  <li class="dropdown">
    <%= link_to 'Log Out',broker_logout_path, method: "delete", id:"log_out"%>
  </li>
</ul>
<%end%>