<footer class="navbar-default navbar-static-bottom navbar-inverse" role="navigation">  
  <div class="navbar-inner">
    <div class="container">	

      <table width="80%">
        <tr>
          <td width="25%" style="vertical-align:top;">
            <h4>Company</h4>
            <p><%= link_to 'Home', home_path %></p>
            <p><%= link_to 'About', about_path %></p>
            <p><%= link_to 'Contact', contact_path%></p>
            <p><%= link_to 'FAQ', faq_path%></p>
            <p><%= link_to 'Announcement', faq_path%></p>
          </td>
          <td width="25%" style="vertical-align:top;">
            <h4>Why RichRly?</h4>
            <p><%= link_to "Why it's for you?", home_path %></p>
          </td>
          <td width="25%" style="vertical-align:top;">
            <h4>Term of Condition</h4>
            <p><%= link_to "User Agreement", user_agreement_path %></p>
            <p><%= link_to "Privacy Policy", privacy_policy_path %></p>
            <p><%= link_to "Disclaimer", disclaimer_path %></p>
            <p><%= link_to "Copyright Policy", copyright_policy_path %></p>
          </td>
          <td width="25%" style="vertical-align:top;">
            <h4>Member Resource</h4>
            <p><%= link_to "Broker Background Check Guide", broker_background_check_path %></p>
            <p><%= link_to "Broker Registration Criteria", broker_registration_criteria_path %></p>
          </td>
        </tr>
      </table>

    </div>
  </div>
</footer>