<footer class="navbar-default navbar-static-bottom navbar-inverse">  
  <div class="navbar-inner">
    <div class="container" style="padding:10px;">	

      <table width="90%">
        <tr>
          <td width="20%" style="vertical-align:top; padding-top:20px;">
              <p><span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=T522pYzrd40zVEcwZOzOdRHDm2ieRNeXkI35ajYF5rFTJLSfKuTCdr7VJNz4"></script></span></p>
          </td>
          <td width="20%" style="vertical-align:top;">
            <p style="font-size:1.2em;color:white;">Company</p>
            <p><%= link_to "Why RichRly?", why_richrly_path %></p>
            <p><%= link_to 'Home', home_path %></p>
            <p><%= link_to 'About', about_path %></p>
            <p><%= link_to 'Contact', new_contact_path%></p>
           
            <p><%= link_to 'Announcement', announcement_path%></p>
            
          </td>
          <td width="25%" style="vertical-align:top;">
            <p style="font-size:1.2em;color:white;">Member Resource</p>
            <p><%= link_to 'FAQ', faq_path%></p>
            <p><%= link_to "Broker Background Check Guide", broker_background_check_path %></p>
            <p><%= link_to "Broker Registration Criteria", broker_registration_criteria_path %></p>
    
          </td>
          <td width="20%" style="vertical-align:top;">
            <p style="font-size:1.2em;color:white;">Term of Condition</p>
            <p><%= link_to "User Agreement", user_agreement_path %></p>
            <p><%= link_to "Privacy Policy", privacy_policy_path %></p>
            <p><%= link_to "Disclaimer", disclaimer_path %></p>
            <p><%= link_to "Copyright Policy", copyright_policy_path %></p>
          </td>
          <td width="15%" style="vertical-align:top;">

          </td>
        </tr>
      </table>

    </div>
  </div>
</footer>