<footer class="navbar-default navbar-static-bottom navbar-inverse" role="navigation">  
  <div class="navbar-inner">
    <div class="container">		

      <p><%= link_to 'Home', home_path %></p>
      <p><%= link_to 'About', about_path %></p>
      <p><%= link_to 'Contact', contact_path%></p>
      <p><%= link_to 'Blog', blog_path%></p>
      <p><%= link_to 'Quick Demo', demo_path%></p>
      <p><%= link_to 'FAQ', faq_path%></p>

    </div>
  </div>
</footer>