
<ul class="navbar-nav nav pull-right">
  <li style="font-size:1.5em;"><%= link_to 'User Sign In', user_login_path %></li>
  <li class="dropdown" style="font-size:1.5em;">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      Financial Reps <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Why Sign Up?","#"%></li>
      <li><%= link_to "Login", broker_login_path %></li>
      <li><%= link_to "Sign Up", broker_signup_path %></li>
      <li><%= link_to "Registration Status",new_status_session_url%></li>
    </ul>
  </li>
</ul>
 