<!DOCTYPE html>
<html>
<head>
  <title>RichRly<%=yield :title%></title>
  <%= include_gon %>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true%>

 
  <%= yield(:head)%>
  <%= csrf_meta_tags %>
  <!-- [if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html15.js"></script>
  <![endif]-->
  <style>
    html,body {height:100%;}
  </style>
  
</head>
<body data-no-turbolink="true">
  <%unless user_logged_in? || broker_logged_in?%>
  	<header class="navbar-default navbar-static-top navbar-inverse" role="navigation">  
      <div class="navbar-inner">
        <div class="container">		
          <ul class="navbar-nav nav pull-left">
            <li class="navbar-text"><span class="logo"><%=image_tag("company_logo.png", size:"60x30")%></span></li>
            <li><%= link_to 'Home', home_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path%></li>
            <li><%= link_to 'Blog', blog_path%></li>
            <li><%= link_to 'Quick Demo', demo_path%></li>
            <li><%= link_to 'FAQ', faq_path%></li>
          </ul>
          <%=render 'layouts/general_header'%>
        </div>
      </div>
	  </header>
  <%else%>
    
	  <header class="navbar-default navbar-static-top" role="navigation">  
      <div class="navbar-inner">
        <div class="container">		
          <ul class="navbar-nav nav pull-left">
            <li class="navbar-text"><span class="logo"><%=image_tag("company_logo.png", size:"60x30")%></span></li>
            <li><%= link_to 'Home', home_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path%></li>
            <li><%= link_to 'Blog', blog_path%></li>
            <li><%= link_to 'Quick Demo', demo_path%></li>
            <li><%= link_to 'FAQ', faq_path%></li>
          </ul>
          <% if user_logged_in?%>
            <%=render 'layouts/user_header'%>
          <%elsif broker_logged_in?%>
            <%=render 'layouts/broker_header'%>
          <%end%>
        </div>
      </div>
	  </header>
  <%end%>
  <%if user_logged_in?%>
    <div class="navbar-default navbar-custom2 navbar-static-top" role="navigation">  
      <%=render partial:"layouts/top_menu",locals:{object:current_user,type:"users"} %>
	  </div>     
  <%end%>   
  <%if broker_logged_in?%>
    <div class="navbar-default navbar-custom2 navbar-static-top" role="navigation">
      <%=render partial:"layouts/top_menu",locals:{object:current_broker,type:"brokers"} %>
	  </div>     
  <%end%>   
  <div align="center" class="body1">
    <div id='col_left' class=<%=column_width_left%> align="center">
      <%=yield :left%>

    </div>
    <div id='col_middle' class=<%=column_width_middle%> align="center">

      <%=render "layouts/flash_message"%>
      <%=yield %>
    </div>

    <div id='col_right' class=<%=column_width_right%> align="center">
      <%=yield :right%>
    </div>  

	</div>    
      
</body>
</html>
