<!DOCTYPE html>
<html>
<head>
  <title>WebFinance App<%=yield :title%></title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "jquery.validate.min.js" %>  
  <%= csrf_meta_tags %>
  <!-- [if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html15.js"></script>
  <![endif]-->
  <style>

  </style>
</head>
<body>
	<header height="50%" class="navbar-default navbar-inverse navbar-static-top" role="navigation">  
		  <%=render 'layouts/header'%>
	</header>
  <div class="row">
  
  </div>

	<div align="center" class="body1">
    <div class="col-md-2" align="center">
      <%=render "profiles/menu"%>
    </div>
    <div class="col-md-8" align="center">
      <% flash.each do|message_type, message|%>
      <div class="alert alert-<%=message_type%>"><%=message%></div>
      <%end%>
      <%=yield %>
    </div>
    <div class="col-md-2" align="center">
    </div>  
	</div>
     
  <%=render "layouts/footer"%>       


</body>
</html>
